guilherme-westphall/projeto-3/automation-invoice-two-agent-review-ngrok.json
{
  "name": "automation-invoice-two-agent-review-ngrok",
  "nodes": [
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const approval = $('Approve: Prepare Gmail Payload').first().json;\nconst gmail = $json;\nconst registry = { ...approval.registry, status: 'sent', invoice_status: 'sent', gmail_message_id: gmail.id || gmail.messageId || gmail.threadId || null, sent_at: new Date().toISOString(), updated_at: new Date().toISOString() };\nconst registryText = JSON.stringify(registry, null, 2);\nreturn { json: { ...approval, registry, registry_file_id: approval.registry_file_id }, binary: { registry_json: { data: Buffer.from(registryText, 'utf8').toString('base64'), fileName: 'current-invoice-state.json', fileExtension: 'json', mimeType: 'application/json' } } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12944,
        6208
      ],
      "id": "f3a78032-0b2c-4139-9f1a-f4f12e7c28e2",
      "name": "Approve: Build Sent Registry JSON"
    },
    {
      "parameters": {
        "operation": "update",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.registry_file_id }}",
          "mode": "id"
        },
        "changeFileContent": true,
        "inputDataFieldName": "registry_json",
        "newUpdatedFileName": "current-invoice-state.json",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        13168,
        6208
      ],
      "id": "fc16c746-d887-468e-973d-3138e3ff3f9f",
      "name": "Approve: Update Registry",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "yESEGUv8xXGOwC2c",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Approve: Build Sent Registry JSON').item.json.chat_id }}",
        "text": "={{ \n'Invoice #' + $('Approve: Build Sent Registry JSON').item.json.registry.invoice_number + ' was sent successfully by Gmail.' \n}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        13392,
        6208
      ],
      "id": "748fca6c-f09b-496f-89ab-e46490e223fd",
      "name": "Telegram: Confirm Sent",
      "webhookId": "d7a33d4c-dfdd-426b-bb7a-333e2abcce34",
      "credentials": {
        "telegramApi": {
          "id": "1zgSJaOd7LmrWoRq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ ($json.error || 'Command not recognized.') + ' Available commands: approve <run_id> reject <run_id> edit <run_id> <requested changes>' }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        12048,
        6880
      ],
      "id": "53a71c5b-d8ab-439d-9eaa-8b36bb114890",
      "name": "Telegram: Send Command Help",
      "webhookId": "a1ad06b0-018d-4481-8a77-547cd078a55d",
      "credentials": {
        "telegramApi": {
          "id": "1zgSJaOd7LmrWoRq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Edit: Normalize Revised Email').item.json.chat_id }}",
        "text": "={{\n[\n  'Invoice #' + $('Edit: Normalize Revised Email').first().json.registry.invoice_number + ' email was revised and is ready for review.',\n  '',\n  'Change summary: ' + ($('Edit: Normalize Revised Email').first().json.edit_entry.change_summary || 'updated email draft'),\n  'Blocked changes: ' + (\n    (($('Edit: Normalize Revised Email').first().json.edit_entry.blocked_changes || []).length)\n      ? $('Edit: Normalize Revised Email').first().json.edit_entry.blocked_changes.join('; ')\n      : 'none'\n  ),\n  '',\n  'Recipients: ' + (\n    Array.isArray($('Edit: Normalize Revised Email').first().json.registry.email_to)\n      ? $('Edit: Normalize Revised Email').first().json.registry.email_to.join(', ')\n      : String($('Edit: Normalize Revised Email').first().json.registry.email_to || '')\n  ),\n  'Subject: ' + ($('Edit: Normalize Revised Email').first().json.registry.email_subject || ''),\n  '',\n  $('Edit: Normalize Revised Email').first().json.registry.email_body || '',\n  '',\n  'Reply with:',\n  'approve ' + $('Edit: Normalize Revised Email').first().json.registry.run_id,\n  'reject ' + $('Edit: Normalize Revised Email').first().json.registry.run_id,\n  'edit ' + $('Edit: Normalize Revised Email').first().json.registry.run_id + ' <requested changes>'\n].join('\\n')\n}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        12816,
        6672
      ],
      "id": "7f2df7fe-754c-42ea-80ab-102c81246c1d",
      "name": "Telegram: Send Revised Review",
      "webhookId": "211f2ae5-ad1c-47b5-af81-8d2404a2e424",
      "credentials": {
        "telegramApi": {
          "id": "1zgSJaOd7LmrWoRq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.registry_file_id }}",
          "mode": "id"
        },
        "changeFileContent": true,
        "inputDataFieldName": "registry_json",
        "newUpdatedFileName": "current-invoice-state.json",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        12544,
        6656
      ],
      "id": "abb9add0-6e0b-4f6b-9638-6699ec181e30",
      "name": "Edit: Update Registry",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "yESEGUv8xXGOwC2c",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const command = $('Load Registry JSON').first().json;\nconst registry = command.registry || {};\n\nfunction pickRaw(value) {\n  if (value === undefined || value === null) return '';\n  if (typeof value === 'string') return value;\n  if (typeof value.content === 'string') return value.content;\n  if (typeof value.text === 'string') return value.text;\n  if (typeof value.response === 'string') return value.response;\n  if (typeof value.output === 'string') return value.output;\n  if (typeof value.message?.content === 'string') return value.message.content;\n  if (Array.isArray(value.choices) && typeof value.choices[0]?.message?.content === 'string') return value.choices[0].message.content;\n  if (Array.isArray(value.generations) && typeof value.generations[0]?.text === 'string') return value.generations[0].text;\n  return JSON.stringify(value);\n}\n\nfunction stripCodeFence(value) {\n  return String(value || '')\n    .trim()\n    .replace(/^```(?:json)?\\s*/i, '')\n    .replace(/```$/i, '')\n    .trim();\n}\n\nfunction extractJsonObject(text) {\n  const value = stripCodeFence(text);\n\n  try {\n    return JSON.parse(value);\n  } catch (_) {}\n\n  const first = value.indexOf('{');\n  const last = value.lastIndexOf('}');\n  if (first !== -1 && last > first) {\n    try {\n      return JSON.parse(value.slice(first, last + 1));\n    } catch (_) {}\n  }\n\n  return null;\n}\n\nfunction normalizeEmailList(value) {\n  if (value === undefined || value === null || value === '') return [];\n\n  const values = Array.isArray(value) ? value : [value];\n\n  return values\n    .flatMap((item) => {\n      if (item === undefined || item === null || item === '') return [];\n\n      if (typeof item === 'string') {\n        return item.split(',');\n      }\n\n      if (typeof item === 'object') {\n        return [\n          item.email,\n          item.address,\n          item.value,\n          item.text,\n        ];\n      }\n\n      return [String(item)];\n    })\n    .map((v) => String(v || '').trim())\n    .filter((v) => /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(v));\n}\n\nfunction normalizeBlockedChanges(value) {\n  if (!value) return [];\n  if (Array.isArray(value)) {\n    return value.map(String).map((v) => v.trim()).filter(Boolean);\n  }\n  return [String(value).trim()].filter(Boolean);\n}\n\nfunction normalizeNewlines(value) {\n  return String(value || '')\n    .replace(/\\\\r\\\\n/g, '\\n')\n    .replace(/\\\\n/g, '\\n')\n    .replace(/\\r\\n/g, '\\n')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .trim();\n}\n\nfunction ensureSignature(body) {\n  let value = normalizeNewlines(body);\n\n  value = value\n    .replace(/\\n*Best Regards,?\\s*(Guilherme)?\\s*$/i, '')\n    .trim();\n\n  return `${value}\\n\\nBest Regards,\\nGuilherme`;\n}\n\nfunction fallbackBodyFromFeedback() {\n  const current = normalizeNewlines(registry.email_body);\n  const feedback = normalizeNewlines(command.feedback);\n  if (!feedback) return current;\n\n  return ensureSignature(`${current}\\n\\n${feedback}`);\n}\n\nconst raw = pickRaw($json);\nconst parsed = extractJsonObject(raw) || {};\nconst usedFallback = !Object.keys(parsed).length;\nconst invoiceToken = 'Invoice #' + registry.invoice_number;\n\nlet emailSubject = normalizeNewlines(parsed.email_subject || registry.email_subject || invoiceToken);\nlet emailBody = normalizeNewlines(\n  parsed.email_body || (usedFallback ? fallbackBodyFromFeedback() : registry.email_body)\n);\n\nif (!emailSubject.includes(invoiceToken)) {\n  emailSubject = registry.email_subject || invoiceToken;\n}\n\nif (!emailBody.includes(invoiceToken)) {\n  const originalBody = normalizeNewlines(registry.email_body || '');\n  if (originalBody.includes(invoiceToken)) {\n    emailBody = originalBody;\n  }\n}\n\nemailBody = ensureSignature(emailBody);\n\nconst parsedEmailTo = normalizeEmailList(parsed.email_to);\nconst registryEmailTo = normalizeEmailList(registry.email_to);\n\nconst nextEmailTo = parsedEmailTo.length ? parsedEmailTo : registryEmailTo;\n\nconst nextEmailCc = parsed.email_cc !== undefined\n  ? normalizeEmailList(parsed.email_cc)\n  : normalizeEmailList(registry.email_cc);\n\nconst nextEmailBcc = parsed.email_bcc !== undefined\n  ? normalizeEmailList(parsed.email_bcc)\n  : normalizeEmailList(registry.email_bcc);\n\nconst editEntry = {\n  requested_at: new Date().toISOString(),\n  feedback: command.feedback,\n  change_summary: normalizeNewlines(\n    parsed.change_summary ||\n    (usedFallback ? 'Used deterministic fallback because AI response was not valid JSON.' : 'Updated email draft.')\n  ),\n  blocked_changes: normalizeBlockedChanges(parsed.blocked_changes),\n  ai_response_was_json: !usedFallback,\n};\n\nconst updated = {\n  ...registry,\n  status: 'pending_review',\n  invoice_status: 'pending_review',\n  email_to: nextEmailTo,\n  email_cc: nextEmailCc,\n  email_bcc: nextEmailBcc,\n  email_subject: emailSubject,\n  email_body: emailBody,\n  edit_history: [...(registry.edit_history || []), editEntry],\n  updated_at: new Date().toISOString(),\n};\n\nconst registryText = JSON.stringify(updated, null, 2);\n\nreturn {\n  json: {\n    ...command,\n    registry: updated,\n    edit_entry: editEntry,\n    ai_raw_edit_response: raw,\n  },\n  binary: {\n    registry_json: {\n      data: Buffer.from(registryText, 'utf8').toString('base64'),\n      fileName: 'current-invoice-state.json',\n      fileExtension: 'json',\n      mimeType: 'application/json',\n    },\n  },\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12336,
        6656
      ],
      "id": "c32ad5da-1d18-4b1d-a7da-9934d9e36b89",
      "name": "Edit: Normalize Revised Email"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "llama3.2:3b",
          "mode": "list",
          "cachedResultName": "llama3.2:3b"
        },
        "messages": {
          "values": [
            {
              "content": "=You revise invoice email drafts for Guilherme inside an n8n workflow.\n\nReturn only valid minified JSON. Do not use Markdown.\n\nCurrent invoice registry:\n{{ JSON.stringify($json.registry, null, 2) }}\n\nUser feedback:\n{{ $json.feedback }}\n\nRules:\n- Follow the user's requested edit when safe.\n- You may change recipients, tone, subject, and email body.\n- Keep the email professional and concise.\n- Preserve the invoice number exactly.\n- Do not change amount, hours, rate, period, draft file, PDF file, or invoice number.\n- Do not mention AI, automation, validation, confidence, approval, Productive.io, or internal workflow details.\n- Do not invent links or attachment names.\n- If the user asks to change financial values, invoice number, or PDF content, add that request to blocked_changes and keep the email safe.\n- The revised email is not sent automatically; it will be sent back to Guilherme for another review.\n\nReturn exactly this JSON shape:\n{\"action\":\"send_review\",\"email_to\":[\"recipient@example.com\"],\"email_cc\":[],\"email_bcc\":[],\"email_subject\":\"Invoice #000\",\"email_body\":\"email body\",\"change_summary\":\"short summary\",\"blocked_changes\":[]}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        12048,
        6656
      ],
      "id": "01523865-eb56-47aa-9f2d-e51f48b99813",
      "name": "Edit: Ollama Rewrite Email",
      "credentials": {
        "ollamaApi": {
          "id": "yKgICLm9wk5ERgN2",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Reject: Build Rejected Registry JSON').item.json.chat_id }}",
        "text": "={{ \n'Invoice #' + $('Reject: Build Rejected Registry JSON').item.json.registry.invoice_number + 'was rejected. No email was sent'\n}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        12496,
        6432
      ],
      "id": "82dda135-89d9-40fe-9194-4497071b3c53",
      "name": "Telegram: Confirm Rejected",
      "webhookId": "1a57c3d6-7408-4a78-8014-960c311cb65d",
      "credentials": {
        "telegramApi": {
          "id": "1zgSJaOd7LmrWoRq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.registry_file_id }}",
          "mode": "id"
        },
        "changeFileContent": true,
        "inputDataFieldName": "registry_json",
        "newUpdatedFileName": "current-invoice-state.json",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        12272,
        6432
      ],
      "id": "c1c20141-e0d5-4878-95b3-51500a5ecf9b",
      "name": "Reject: Update Registry",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "yESEGUv8xXGOwC2c",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $json;\nconst registry = item.registry || {};\nif (item.run_id !== registry.run_id) throw new Error('Run ID mismatch. Command was ' + item.run_id + ', current registry is ' + (registry.run_id || 'empty') + '.');\nconst updated = { ...registry, status: 'rejected', invoice_status: 'rejected', rejected_at: new Date().toISOString(), updated_at: new Date().toISOString() };\nconst registryText = JSON.stringify(updated, null, 2);\nreturn { json: { ...item, registry: updated }, binary: { registry_json: { data: Buffer.from(registryText, 'utf8').toString('base64'), fileName: 'current-invoice-state.json', fileExtension: 'json', mimeType: 'application/json' } } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12048,
        6432
      ],
      "id": "1bcdcd39-a236-4362-9eee-0624b3a82bf2",
      "name": "Reject: Build Rejected Registry JSON"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email_to }}",
        "subject": "={{ $json.email_subject }}",
        "emailType": "text",
        "message": "={{ $json.email_body }}",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          },
          "bccList": "={{ $json.email_bcc }}",
          "ccList": "={{ $json.email_cc }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        12720,
        6208
      ],
      "id": "8a9377d1-a406-4ce9-b816-bda900694e63",
      "name": "Gmail: Send Invoice",
      "webhookId": "f7f85c27-62c5-4f71-bb89-266c65b2722a",
      "credentials": {
        "gmailOAuth2": {
          "id": "X4VfDBMZggo5KRNQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const approval = $('Approve: Validate Current Invoice').first().json;\nconst registry = approval.registry;\nconst binary = $input.first().binary;\n\nfunction normalizeEmailList(value) {\n  if (value === undefined || value === null || value === '') return [];\n  const values = Array.isArray(value) ? value : [value];\n  return values\n    .flatMap((item) => {\n      if (item === undefined || item === null || item === '') return [];\n      if (typeof item === 'string') return item.split(',');\n      if (typeof item === 'object') return [item.email, item.address, item.value, item.text];\n      return [String(item)];\n    })\n    .map((v) => String(v || '').trim())\n    .filter((v) => /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(v));\n}\n\nconst emailTo = normalizeEmailList(registry.email_to);\nconst emailCc = normalizeEmailList(registry.email_cc);\nconst emailBcc = normalizeEmailList(registry.email_bcc);\n\nif (!emailTo.length) {\n  throw new Error('No valid recipient email found in registry.email_to.');\n}\n\nbinary.data.fileName = String(registry.draft_drive_file_name || 'invoice') + '.pdf';\nbinary.data.fileExtension = 'pdf';\nbinary.data.mimeType = 'application/pdf';\n\nreturn {\n  json: {\n    ...approval,\n    email_to: emailTo.join(', '),\n    email_cc: emailCc.join(', '),\n    email_bcc: emailBcc.join(', '),\n    email_subject: registry.email_subject,\n    email_body: registry.email_body,\n  },\n  binary,\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12496,
        6208
      ],
      "id": "a7806390-851c-448c-a78f-c72575da232a",
      "name": "Approve: Prepare Gmail Payload"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.draft_drive_file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf",
              "sheetsToFormat": "application/pdf"
            }
          },
          "fileName": "={{ $json.registry.draft_drive_file_name }}"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        12272,
        6208
      ],
      "id": "85defb5d-7a8f-44f6-91d3-c24872fc0b41",
      "name": "Approve: Download PDF",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "yESEGUv8xXGOwC2c",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $json;\nconst registry = item.registry || {};\nif (item.run_id !== registry.run_id) throw new Error('Run ID mismatch. Command was ' + item.run_id + ', current registry is ' + (registry.run_id || 'empty') + '.');\nif (registry.status !== 'pending_review') throw new Error('Invoice ' + (registry.invoice_number || '') + ' is not pending review. Current status: ' + (registry.status || 'unknown') + '.');\nreturn { json: { ...item, registry, draft_drive_file_id: registry.draft_drive_file_id } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12048,
        6208
      ],
      "id": "d72d62e9-5849-4aa0-9673-c40e04b78d8d",
      "name": "Approve: Validate Current Invoice"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "approve-rule",
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "approve",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "approve"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "reject-rule",
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "reject",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reject"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "edit-rule",
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "edit",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "edit"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "help-rule",
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "help",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "help"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        11792,
        6400
      ],
      "id": "fc016201-250e-402f-9965-27119543ddac",
      "name": "Route Command"
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst item = $input.first();\nconst inputJson = item.json || {};\nconst command = inputJson.command ? inputJson : staticData.latest_telegram_command;\n\nif (!command) {\n  throw new Error('Missing Telegram command context. Run this path from Telegram Trigger -> Config -> Parse Telegram Commands.');\n}\n\nconst binary = item.binary || {};\nconst binaryPropertyName = binary.registry_json ? 'registry_json' : (binary.data ? 'data' : null);\nlet registry = {};\n\nif (!binaryPropertyName) {\n  throw new Error(`Missing registry binary file. Available binary fields: ${Object.keys(binary).join(', ') || '(none)'}`);\n}\n\nconst buffer = await this.helpers.getBinaryDataBuffer(0, binaryPropertyName);\nconst text = buffer.toString('utf8').trim();\n\nif (text) {\n  try {\n    registry = JSON.parse(text);\n  } catch (error) {\n    throw new Error(`Current invoice registry file is not valid JSON. Confirm that current_invoice_registry_file_id points to a plain .json file, not the invoice spreadsheet/template. Parser error: ${error.message}. File starts with: ${text.slice(0, 80)}`);\n  }\n}\n\nreturn [{\n  json: {\n    ...command,\n    registry,\n    registry_file_id: command.registry_file_id,\n  },\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11568,
        6400
      ],
      "id": "7b89e637-cdbd-4a16-864c-aeb3064f0555",
      "name": "Load Registry JSON"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $(\"Config\").first().json.current_invoice_registry_file_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        11344,
        6400
      ],
      "id": "c14760b7-ce06-467f-a4fb-82f32f5a5637",
      "name": "Drive: Download Current Registry",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "yESEGUv8xXGOwC2c",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst staticData = $getWorkflowStaticData('global');\nconst allowedChatId = String(input.telegram_chat_id || '');\nconst registryFileId = input.current_invoice_registry_file_id;\nlet latestCommand = null;\n\nif (!allowedChatId) {\n  throw new Error('Missing telegram_chat_id. Fill it in Config.telegram_chat_id.');\n}\n\nif (!registryFileId || String(registryFileId).includes('REPLACE_WITH')) {\n  throw new Error('Missing current_invoice_registry_file_id. Fill it in Config.current_invoice_registry_file_id.');\n}\n\nfunction parseMessage(message) {\n  if (!message || !message.text) return null;\n  if (String(message.chat?.id) !== allowedChatId) return null;\n\n  const text = String(message.text || '').trim();\n  const match = text.match(/^\\/?(approve|reject|edit)\\s+(\\S+)(?:\\s+([\\s\\S]+))?$/i);\n\n  if (!match) {\n    return {\n      command: 'help',\n      valid: false,\n      registry_file_id: registryFileId,\n      chat_id: message.chat.id,\n      message_id: message.message_id,\n      original_text: text,\n      error: 'Use approve <run_id>, reject <run_id>, or edit <run_id> <requested changes>.',\n    };\n  }\n\n  const command = match[1].toLowerCase();\n  const feedback = (match[3] || '').trim();\n\n  if (command === 'edit' && !feedback) {\n    return {\n      command: 'help',\n      valid: false,\n      registry_file_id: registryFileId,\n      chat_id: message.chat.id,\n      message_id: message.message_id,\n      original_text: text,\n      error: 'Edit requires feedback: edit <run_id> <requested changes>.',\n    };\n  }\n\n  return {\n    command,\n    valid: true,\n    run_id: match[2],\n    feedback,\n    registry_file_id: registryFileId,\n    chat_id: message.chat.id,\n    message_id: message.message_id,\n    original_text: text,\n  };\n}\n\n// Telegram Trigger usually emits the full update object: { update_id, message: {...} }.\nif (input.message) {\n  latestCommand = parseMessage(input.message);\n}\n\n// Compatibility for old polling output: { result: [{ update_id, message: {...} }] }.\nif (!latestCommand && Array.isArray(input.result)) {\n  for (const update of input.result) {\n    const parsed = parseMessage(update.message);\n    if (parsed) latestCommand = parsed;\n  }\n}\n\n// Fallback if a future node emits the message directly.\nif (!latestCommand && input.chat && input.text) {\n  latestCommand = parseMessage(input);\n}\n\nstaticData.latest_telegram_command = latestCommand || null;\nreturn latestCommand ? [{ json: latestCommand }] : [];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11120,
        6400
      ],
      "id": "09a2fef7-7c3e-4b93-a78a-7b0b034b0175",
      "name": "Parse Telegram Commands"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"telegram_chat_id\": \"TELEGRAM_CHAT_ID\",\n  \"current_invoice_registry_file_id\": \"REGISTRY_FILE_ID\"\n}",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        10464,
        6400
      ],
      "id": "b75d69eb-35d6-4caa-8da5-5c7bcd865045",
      "name": "Config"
    },
    {
      "parameters": {
        "operation": "update",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.registry_file_id }}",
          "mode": "id"
        },
        "changeFileContent": true,
        "inputDataFieldName": "registry_json",
        "newUpdatedFileName": "current-invoice-state.json",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        17480,
        5760
      ],
      "id": "9bbf7ce0-3563-450b-91b8-a6f9bdef36ec",
      "name": "Drive: Update Current Invoice Registry",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "yESEGUv8xXGOwC2c",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const invoice = $('Recover invoice data and append PDF draft').first().json;\nconst telegramOutput = $json.result || $json;\nconst config = $('Edit Fields1').first().json;\n\nfunction normalizeEmailList(value) {\n  if (value === undefined || value === null || value === '') return [];\n  const values = Array.isArray(value) ? value : [value];\n  return values\n    .flatMap((item) => {\n      if (item === undefined || item === null || item === '') return [];\n      if (typeof item === 'string') return item.split(',');\n      if (typeof item === 'object') return [item.email, item.address, item.value, item.text];\n      return [String(item)];\n    })\n    .map((v) => String(v || '').trim())\n    .filter((v) => /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(v));\n}\n\nconst emailTo = normalizeEmailList(invoice.current_invoice_data?.email_to).length\n  ? normalizeEmailList(invoice.current_invoice_data?.email_to)\n  : normalizeEmailList(config.email_to);\nconst emailCc = normalizeEmailList(invoice.current_invoice_data?.email_cc).length\n  ? normalizeEmailList(invoice.current_invoice_data?.email_cc)\n  : normalizeEmailList(config.email_cc);\nconst emailBcc = normalizeEmailList(invoice.current_invoice_data?.email_bcc).length\n  ? normalizeEmailList(invoice.current_invoice_data?.email_bcc)\n  : normalizeEmailList(config.email_bcc);\n\nconst now = new Date().toISOString();\nconst registry = {\n  schema_version: 1,\n  status: 'pending_review',\n  run_id: invoice.run_id,\n  invoice_number: invoice.invoice_number,\n  invoice_status: 'pending_review',\n  draft_drive_file_id: invoice.draft_drive_file_id,\n  draft_drive_file_name: invoice.draft_drive_file_name,\n  period_label: invoice.invoice_sheet_data?.period_label,\n  invoice_date: invoice.invoice_sheet_data?.invoice_date,\n  due_date: invoice.invoice_sheet_data?.due_date,\n  entry_count: invoice.current_invoice_data?.entry_count,\n  total_minutes: invoice.current_invoice_data?.total_minutes,\n  total_hours: invoice.current_invoice_data?.total_hours,\n  hourly_rate: invoice.current_invoice_data?.hourly_rate,\n  currency: invoice.current_invoice_data?.currency,\n  amount: invoice.current_invoice_data?.amount,\n  confidence: invoice.current_invoice_data?.confidence,\n  recommended_action: invoice.current_invoice_data?.recommended_action,\n  detected_issues: invoice.current_invoice_data?.detected_issues || [],\n  email_to: emailTo,\n  email_cc: emailCc,\n  email_bcc: emailBcc,\n  email_subject: invoice.current_invoice_data?.email_subject,\n  email_body: invoice.current_invoice_data?.email_body,\n  email_review: invoice.current_invoice_data?.email_review || {},\n  telegram_chat_id: config.telegram_chat_id,\n  telegram_message_id: telegramOutput.message_id,\n  edit_history: [],\n  created_at: now,\n  updated_at: now,\n};\nconst registryText = JSON.stringify(registry, null, 2);\nreturn {\n  json: { ...invoice, registry_file_id: config.current_invoice_registry_file_id, registry },\n  binary: { registry_json: { data: Buffer.from(registryText, 'utf8').toString('base64'), fileName: 'current-invoice-state.json', fileExtension: 'json', mimeType: 'application/json' } },\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        17256,
        5760
      ],
      "id": "bf9edfee-2802-4816-a9d1-031ee3f535fd",
      "name": "Build Current Invoice Registry JSON"
    },
    {
      "parameters": {
        "operation": "sendDocument",
        "chatId": "={{ $('Edit Fields1').item.json.telegram_chat_id }}",
        "binaryData": true,
        "additionalFields": {
          "caption": "={{\n'Invoice #' + $json.invoice_number + ' is ready for review.\\n\\n' +\n\n'Invoice details\\n' +\n'Period: ' + $json.invoice_sheet_data.period_label + '\\n' +\n'Hours: ' + $json.current_invoice_data.total_hours + '\\n' +\n'Rate: ' + $json.current_invoice_data.currency + ' ' +\n$json.current_invoice_data.hourly_rate + '/h\\n' +\n'Amount: ' + $json.current_invoice_data.currency + ' ' +\n$json.current_invoice_data.amount + '\\n\\n' +\n\n'Email draft\\n' +\n'Subject: ' + $json.current_invoice_data.email_subject + '\\n\\n' +\n$json.current_invoice_data.email_body + '\\n\\n' +\n\n'Reply later with:\\n' +\n'approve ' + $json.run_id + '\\n' +\n'reject ' + $json.run_id + '\\n' +\n'edit ' + $json.run_id + ' <requested changes>'\n}}\n"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        17048,
        5760
      ],
      "id": "7493ed38-0ebb-42a9-a9c7-3fac464f5a24",
      "name": "Telegram: Send Draft",
      "webhookId": "9a86abeb-611c-4f53-a4da-bc7a310bd342",
      "credentials": {
        "telegramApi": {
          "id": "1zgSJaOd7LmrWoRq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const invoice = $('Append JSON and Invoice data').first().json;\nconst binary = $input.first().binary;\n\nconst fileName = `${invoice.draft_drive_file_name}.pdf`\n\nbinary.data.fileName = fileName;\nbinary.data.fileExtension = 'pdf';\nbinary.data.mimeType = 'application/pdf';\n\nreturn {\n  json:invoice,\n  binary\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16840,
        5760
      ],
      "id": "df3fcbd8-dc11-4d2c-a319-310d0208f741",
      "name": "Recover invoice data and append PDF draft"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.draft_drive_file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf",
              "sheetsToFormat": "application/pdf"
            }
          },
          "fileName": "={{ $json.current_invoice_data.draft_drive_file_name }}"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        16632,
        5760
      ],
      "id": "5503c6c1-5c81-4db8-97c6-6fb1282a6c56",
      "name": "Download Invoice",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "yESEGUv8xXGOwC2c",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.draft_drive_file_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1129729323,
          "mode": "list",
          "cachedResultName": "data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/INVOICE_SHEET_ID/edit#gid=1129729323"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "key": "={{ $json.key }}",
            "value": "={{ $json.value }}"
          },
          "matchingColumns": [
            "key"
          ],
          "schema": [
            {
              "id": "key",
              "displayName": "key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "value",
              "displayName": "value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        16232,
        5760
      ],
      "id": "ebfe1230-8435-42cc-bead-022d2b9f2667",
      "name": "Update Data rows",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "I8DvipTF7nf7kAd8",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const invoice = $('Append JSON and Invoice data').first().json\n\nreturn {\n  json: invoice\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16440,
        5760
      ],
      "id": "159b088f-1723-48f5-a191-b1f8cafeada8",
      "name": "Recover Invoice Data"
    },
    {
      "parameters": {
        "jsCode": "const invoice = $input.first().json;\n\nconst rows = [\n  ['invoice_number', invoice.invoice_sheet_data.invoice_number],\n  ['invoice_date', invoice.invoice_sheet_data.invoice_date],\n  ['due_date', invoice.invoice_sheet_data.due_date],\n  ['period_label', invoice.invoice_sheet_data.period_label],\n  ['hourly_rate', invoice.invoice_sheet_data.hourly_rate],\n  ['quantity', invoice.invoice_sheet_data.quantity],\n  ['amount', invoice.invoice_sheet_data.amount],\n  ['balance_due', invoice.invoice_sheet_data.balance_due],\n];\n\nreturn rows.map(([key, value]) => ({\n  json: {\n    draft_drive_file_id: invoice.draft_drive_file_id,\n    run_id: invoice.run_id,\n    invoice_number: invoice.invoice_number,\n    key,\n    value,\n  },\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16024,
        5760
      ],
      "id": "f6ba8924-2092-4dce-8b09-3109ff5c4283",
      "name": "Generate Data rows entries"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const invoice = $('Finalize Two-Agent AI Decision').first().json;\nconst copiedFile = $json;\n\nfunction formatDate(date) {\n  return date.toISOString().slice(0, 10);\n}\n\nconst today = new Date();\nconst invoiceDate = formatDate(today);\n\nconst due = new Date(today);\ndue.setDate(due.getDate() + 15);\nconst dueDate = formatDate(due);\n\nconst periodStart = invoice.period_start;\nconst periodEnd = invoice.period_end;\n\nconst periodStartDate = new Date(periodStart + 'T00:00:00');\nconst periodEndDate = new Date(periodEnd + 'T00:00:00');\n\nconst monthName = periodEndDate.toLocaleString('en-US', {\n  month: 'long',\n  timeZone: 'UTC',\n});\n\nconst periodLabel = periodStartDate.getUTCDate() + ' to ' + periodEndDate.getUTCDate() + ' ' + monthName;\n\nconst currentInvoiceData = {\n  run_id: invoice.run_id,\n  invoice_number: invoice.invoice_number,\n  invoice_status: invoice.invoice_status,\n  period_label: periodLabel,\n  entry_count: invoice.entry_count,\n  total_minutes: invoice.total_minutes,\n  total_hours: invoice.total_hours,\n  hourly_rate: invoice.hourly_rate,\n  currency: invoice.currency,\n  amount: invoice.amount,\n  confidence: invoice.confidence,\n  recommended_action: invoice.recommended_action,\n  detected_issues: invoice.detected_issues || [],\n  email_subject: invoice.email_subject,\n  email_body: invoice.email_body,\n  email_to: invoice.email_to || [],\n  email_cc: invoice.email_cc || [],\n  email_bcc: invoice.email_bcc || [],\n  email_review: invoice.email_review || {},\n  telegram_message: invoice.telegram_message,\n  draft_drive_file_id: copiedFile.id,\n  draft_drive_file_name: copiedFile.name,\n  invoice_date: invoiceDate,\n  due_date: dueDate,\n};\n\nreturn {\n  json: {\n    current_invoice_data: currentInvoiceData,\n\n    draft_drive_file_id: copiedFile.id,\n    draft_drive_file_name: copiedFile.name,\n\n    run_id: invoice.run_id,\n    invoice_number: invoice.invoice_number,\n    email_to: invoice.email_to || [],\n    email_cc: invoice.email_cc || [],\n    email_bcc: invoice.email_bcc || [],\n\n    invoice_sheet_data: {\n      invoice_number: invoice.invoice_number,\n      invoice_date: invoiceDate,\n      due_date: dueDate,\n      period_label: periodLabel,\n      hourly_rate: invoice.hourly_rate,\n      quantity: invoice.total_hours,\n      amount: invoice.amount,\n      balance_due: invoice.amount,\n    },\n  },\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15816,
        5760
      ],
      "id": "26579689-e771-4067-86c4-f63e4a59616c",
      "name": "Append JSON and Invoice data"
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "INVOICE_TEMPLATE_FILE_ID",
          "mode": "list",
          "cachedResultName": "INVOICE_TEMPLATE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/INVOICE_TEMPLATE_FILE_ID/edit?usp=drivesdk"
        },
        "name": "={{ 'Invoice-' + $json.invoice_number + '-DRAFT-' + $json.period_start + '-to-' + $json.period_end + '-GuilhermeWestphall'}}",
        "sameFolder": false,
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "DRAFT_FOLDER_ID",
          "mode": "list",
          "cachedResultName": "Draft",
          "cachedResultUrl": "https://drive.google.com/drive/folders/DRAFT_FOLDER_ID"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        15608,
        5760
      ],
      "id": "27c9deec-ca1d-437b-aaf9-e3f3c578e2f6",
      "name": "Copy file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "yESEGUv8xXGOwC2c",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json;\nconst config = $('Edit Fields1').first().json;\nconst staticData = $getWorkflowStaticData('global');\n\nconst initialInvoiceNumber = Number(config.initial_invoice_number || 0);\nconst lastInvoiceNumber = Number(staticData.last_invoice_number || initialInvoiceNumber);\nconst nextInvoiceNumber = lastInvoiceNumber + 1;\n\n// Reserve immediately so approval, PDF generation, Gmail, and logs all refer to the same invoice number.\nstaticData.last_invoice_number = nextInvoiceNumber;\n\nconst invoiceNumber = String(nextInvoiceNumber).padStart(3, '0');\nconst runId = `${Date.now()}-${invoiceNumber}`;\n\nreturn {\n  json: {\n    ...input,\n    invoice_number: invoiceNumber,\n    run_id: runId,\n    invoice_status: 'pending_approval',\n    client_names: config.client_names || 'X and Y'\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11088,
        5760
      ],
      "id": "08c8d84d-55b2-493c-b621-90313acc938c",
      "name": "Reserve Invoice Number1"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"productive_person_id\": \"ID\",\n  \"hourly_rate\": N,\n  \"currency\": \"USD\",\n  \"initial_invoice_number\": 17,\n  \"telegram_chat_id\": \"TELEGRAM_CHAT_ID\",\n  \"current_invoice_registry_file_id\": \"REGISTRY_FILE_ID\",\n  \"email_to\": [\n    \"guilhermewestphall@gmail.com\"\n  ],\n  \"email_cc\": [],\n  \"email_bcc\": []\n}\n",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        10448,
        5760
      ],
      "id": "ddc0253b-76f4-4dd2-b1b8-2afef73e16e7",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const raw = $json.data;\nconst body = typeof raw === \"string\" ? JSON.parse(raw) : $json;\n\nconst period = $(\"Set Billing Period1\").first().json;\nconst entries = body.data || [];\n\nconst hourlyRate = $('Edit Fields1').item.json.hourly_rate; \nconst currency = $('Edit Fields1').item.json.currency;\n\nfunction stripHtml(html) {\n  return String(html || \"\")\n    .replace(/<[^>]+>/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nlet totalMinutes = 0;\n\nconst cleanEntries = entries.map((entry) => {\n  const attrs = entry.attributes || {};\n  const minutes = attrs.time || 0;\n  totalMinutes += minutes;\n\n  return {\n    id: entry.id,\n    date: attrs.date,\n    minutes,\n    hours: Number((minutes / 60).toFixed(2)),\n    note: stripHtml(attrs.note),\n  };\n});\n\nconst totalHours = Number((totalMinutes / 60).toFixed(2));\nconst amount = Number((totalHours * hourlyRate).toFixed(2));\n\nconst warnings = [];\n\nif (entries.length === 0) {\n  warnings.push(\"No time entries found for this period.\");\n}\n\nif (body.meta?.total_pages > 1) {\n  warnings.push(`Productive returned ${body.meta.total_pages} pages. Pagination is not implemented yet.`);\n}\n\nreturn {\n    json: {\n      period_start: period.period_start,\n      period_end: period.period_end,\n      period_source: period.period_source,\n      entry_count: cleanEntries.length,\n      total_minutes: totalMinutes,\n      total_hours: totalHours,\n      hourly_rate: hourlyRate,\n      currency,\n      amount,\n      warnings\n    },\n  }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10880,
        5760
      ],
      "id": "371f3596-a9bc-4ed6-87b5-b3235fb94031",
      "name": "Parse Entries and Calculate Amount 1"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json;\n\nif (input.period_start && input.period_end) {\n  return {\n    json: {\n      ...input,\n      period_start: input.period_start,\n      period_end: input.period_end,\n      period_source: \"manual\"\n    }\n  }\n}\n\nconst now = new Date(input.timestamp ?? Date.now())\nconst year = now.getFullYear();\nconst month = now.getMonth();\nconst day = now.getDate();\n\nfunction yyyyMmDd(date) {\n  return date.toISOString().slice(0, 10);\n}\n\nlet periodStart;\nlet periodEnd;\nlet periodSource;\n\nif (day >= 16) {\n  // On the 16th, invoice days 1-15 of the current month\n  periodStart = new Date(year, month, 1);\n  periodEnd = new Date(year, month, 15);\n  periodSource = day === 16 ? \"scheduled-day-16\" : \"manual\";\n} else {\n  // On the 1st, invoice day 16 through last day of previous month\n  periodStart = new Date(year, month - 1, 16);\n  periodEnd = new Date(year, month, 0);\n  periodSource = day === 1 ? \"scheduled-day-1\" : \"manual\";\n} \n\n  const time = {\n    json: {\n      period_start: yyyyMmDd(periodStart),\n      period_end: yyyyMmDd(periodEnd),\n      period_source: periodSource\n    }\n  }\n\nreturn time;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10256,
        5760
      ],
      "id": "f2cc5be2-cb5b-4cb5-a411-fe604cb5fc51",
      "name": "Set Billing Period1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "url": "https://api.productive.io/api/v2/time_entries",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filter[person_id]",
              "value": "={{ $json.productive_person_id }}"
            },
            {
              "name": "filter[date][gt_eq]",
              "value": "={{ $json.period_start }}"
            },
            {
              "name": "filter[date][lt_eq]",
              "value": "={{ $json.period_end }}"
            },
            {
              "name": "page[size]",
              "value": "200"
            },
            {
              "name": "sort",
              "value": "date"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        10672,
        5760
      ],
      "id": "44dd5aaa-974d-42ef-bf3b-a3d97ffb9c74",
      "name": "Fetch time entries 1",
      "credentials": {
        "httpCustomAuth": {
          "id": "OjSWZ30T2AoRtQed",
          "name": "Custom Auth account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months",
              "triggerAtHour": 12
            },
            {
              "field": "months",
              "triggerAtDayOfMonth": 16,
              "triggerAtHour": 12
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        10064,
        5760
      ],
      "id": "27ae1a78-d4e7-4bb5-a862-1b77f81ba179",
      "name": "Schedule Trigger1",
      "retryOnFail": true,
      "notesInFlow": false
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": false
        }
      },
      "id": "51d05334-2b36-4c53-aedd-e049c68a8362",
      "name": "Telegram Trigger: Invoice Commands",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        10256,
        6400
      ],
      "webhookId": "bc892bfb-60d1-4d5b-b911-1f35b42a0bcc",
      "credentials": {
        "telegramApi": {
          "id": "1zgSJaOd7LmrWoRq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"email_review_knowledge_base\": {\n    \"allowed_client_names\": [\n      \"X\",\n      \"Y\"\n    ],\n    \"good_examples\": [\n      {\n        \"label\": \"standard attached invoice email\",\n        \"subject\": \"Invoice #016\",\n        \"body\": \"Hi X and Y,\\n\\nI hope this email finds you well.\\n\\nPlease find attached Invoice #016 for the services provided. Thank you for your time.\\n\\nBest Regards,\\nGuilherme\"\n      },\n      {\n        \"label\": \"standard sending invoice email\",\n        \"subject\": \"Invoice #016\",\n        \"body\": \"Hi X and Y,\\n\\nI hope this email finds you well.\\n\\nI am sending Invoice #016 for the services provided. Thank you for your time.\\n\\nBest Regards,\\nGuilherme\"\n      }\n    ],\n    \"required_elements\": [\n      \"greeting addressed to X and Y\",\n      \"exact invoice number in subject\",\n      \"exact invoice number in body\",\n      \"short professional body\",\n      \"Best Regards, Guilherme sign-off\"\n    ],\n    \"forbidden_client_email_terms\": [\n      \"hours\",\n      \"hourly rate\",\n      \"rate\",\n      \"amount\",\n      \"billing period\",\n      \"period\",\n      \"AI\",\n      \"automation\",\n      \"validation\",\n      \"approval\",\n      \"confidence\",\n      \"detected issues\",\n      \"Productive.io\",\n      \"time entries\",\n      \"invoice draft\",\n      \"work summary\",\n      \"activities performed\"\n    ],\n    \"bad_patterns\": [\n      \"wrong recipient or extra recipient\",\n      \"offensive or informal language\",\n      \"missing invoice number\",\n      \"mentions internal workflow details\",\n      \"mentions financial totals or hours\",\n      \"too verbose or includes work activity summary\",\n      \"missing sign-off\"\n    ]\n  }\n}",
        "includeOtherFields": true,
        "options": {}
      },
      "id": "798fd9b6-2628-4c99-8649-b13a7f91a654",
      "name": "Email Review Knowledge Base",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        11280,
        5760
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const source = $json;\nconst config = $('Edit Fields1').first().json;\n\nfunction normalizeEmailList(value) {\n  if (value === undefined || value === null || value === '') return [];\n  const values = Array.isArray(value) ? value : [value];\n  return values\n    .flatMap((item) => {\n      if (item === undefined || item === null || item === '') return [];\n      if (typeof item === 'string') return item.split(',');\n      if (typeof item === 'object') return [item.email, item.address, item.value, item.text];\n      return [String(item)];\n    })\n    .map((v) => String(v || '').trim())\n    .filter((v) => /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(v));\n}\n\nconst allowedEmails = normalizeEmailList(config.email_to);\nconst knowledgeBase = source.email_review_knowledge_base || {};\n\nreturn {\n  json: {\n    source,\n    knowledge_base: knowledgeBase,\n    attempt: 1,\n    max_attempts: 3,\n    previous_drafts: [],\n    reviewer_feedback: '',\n    recipient_policy: {\n      client_names: source.client_names || config.client_names || 'X and Y',\n      allowed_names: knowledgeBase.allowed_client_names || ['X', 'Y'],\n      allowed_emails: allowedEmails,\n    },\n  },\n};"
      },
      "id": "ef532494-91c3-42b2-b3d7-e3ba20e810da",
      "name": "Build Email Agent Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11488,
        5760
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "llama3.2:3b",
          "mode": "list",
          "cachedResultName": "llama3.2:3b"
        },
        "messages": {
          "values": [
            {
              "content": "=You are the Draft Agent in an n8n invoice workflow.\n\nReturn only one valid JSON object. Do not use Markdown, code fences, or explXtions.\n\nYour job is to draft only the external client email. Do not validate the invoice and do not decide whether to send it.\n\nInput payload:\n{{ JSON.stringify($json, null, 2) }}\n\nRules:\n- Use the invoice number exactly as provided: Invoice #{{ $json.source.invoice_number }}.\n- Address the email to X and Y.\n- Keep the email short, professional, and close to the good examples in the knowledge base.\n- Do not mention hours, hourly rate, amount, dates, period, Productive.io, time entries, AI, automation, validation, approval, confidence, detected issues, work summary, or internal workflow details.\n- Do not invent links, filenames, extra recipients, or work performed.\n- If reviewer_feedback is present, apply it.\n\nReturn exactly this JSON shape:\n{\"email_to\":[\"recipient@example.com\"],\"email_cc\":[],\"email_bcc\":[],\"email_subject\":\"Invoice #000\",\"email_body\":\"email body\",\"draft_notes\":\"short note about what changed\"}"
            }
          ]
        },
        "options": {}
      },
      "id": "dc2d9262-a390-416d-883b-7c647126e53f",
      "name": "Draft Agent: Generate Email 1",
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        11696,
        5760
      ],
      "credentials": {
        "ollamaApi": {
          "id": "yKgICLm9wk5ERgN2",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const payload = $input.first().json;\nconst rawValue = $json.content ?? $json.text ?? $json.message?.content ?? $json.response ?? $json.output ?? JSON.stringify($json);\n\nfunction stripCodeFence(value) {\n  return String(value || '').trim().replace(/^```(?:json)?\\s*/i, '').replace(/```$/i, '').trim();\n}\n\nfunction extractJsonObject(text) {\n  const value = stripCodeFence(text);\n  try { return JSON.parse(value); } catch (_) {}\n  const first = value.indexOf('{');\n  const last = value.lastIndexOf('}');\n  if (first !== -1 && last > first) {\n    try { return JSON.parse(value.slice(first, last + 1)); } catch (_) {}\n  }\n  return null;\n}\n\nfunction normalizeNewlines(value) {\n  return String(value || '').replace(/\\\\r\\\\n/g, '\\n').replace(/\\\\n/g, '\\n').replace(/\\r\\n/g, '\\n').replace(/\\n{3,}/g, '\\n\\n').trim();\n}\n\nfunction normalizeEmailList(value) {\n  if (value === undefined || value === null || value === '') return [];\n  const values = Array.isArray(value) ? value : [value];\n  return values.flatMap((item) => {\n    if (!item) return [];\n    if (typeof item === 'string') return item.split(',');\n    if (typeof item === 'object') return [item.email, item.address, item.value, item.text];\n    return [String(item)];\n  }).map((v) => String(v || '').trim()).filter((v) => /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(v));\n}\n\nfunction defaultEmail(invoiceNumber) {\n  return `Hi X and Y,\\n\\nI hope this email finds you well.\\n\\nPlease find attached Invoice #${invoiceNumber} for the services provided. Thank you for your time.\\n\\nBest Regards,\\nGuilherme`;\n}\n\nconst parsed = extractJsonObject(rawValue) || {};\nconst invoiceNumber = payload.source.invoice_number;\nconst invoiceToken = `Invoice #${invoiceNumber}`;\nconst emailSubject = normalizeNewlines(parsed.email_subject || invoiceToken);\nconst emailBody = normalizeNewlines(parsed.email_body || rawValue || defaultEmail(invoiceNumber));\nconst emailTo = normalizeEmailList(parsed.email_to).length ? normalizeEmailList(parsed.email_to) : normalizeEmailList(payload.recipient_policy.allowed_emails);\n\nreturn {\n  json: {\n    ...payload,\n    draft_email: {\n      email_to: emailTo,\n      email_cc: normalizeEmailList(parsed.email_cc),\n      email_bcc: normalizeEmailList(parsed.email_bcc),\n      email_subject: emailSubject,\n      email_body: emailBody,\n      draft_notes: normalizeNewlines(parsed.draft_notes || ''),\n      raw_response: String(rawValue || ''),\n    },\n  },\n};"
      },
      "id": "729348ee-b603-4f97-873a-ed70fddbbb0a",
      "name": "Normalize Draft Output 1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11904,
        5760
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "llama3.2:3b",
          "mode": "list",
          "cachedResultName": "llama3.2:3b"
        },
        "messages": {
          "values": [
            {
              "content": "=You are the Reviewer Agent in an n8n invoice workflow.\n\nReturn only one valid JSON object. Do not use Markdown, code fences, or explXtions.\n\nYour job is to review the Draft Agent output using the invoice data, recipient policy, and knowledge base. You do not send email and you do not change financial values.\n\nReview payload:\n{{ JSON.stringify($json, null, 2) }}\n\nClassify the draft as:\n- accepted: good enough for Guilherme to review.\n- retry: fixable issues; give precise reviewer_feedback for the next draft.\n- manual_review: repeated or ambiguous issues that should go to Guilherme.\n- stop: unsafe issue such as offensive language, unauthorized recipient, missing invoice number, or severe malformed data.\n\nRequired checks:\n- recipient_match: recipients are allowed by recipient_policy.\n- invoice_number_present: subject and body include exact Invoice #.\n- professional_tone: concise and professional.\n- forbidden_terms_absent: no forbidden client-email terms from the knowledge base.\n- format_valid: greeting, body, and Best Regards/Guilherme sign-off.\n- offensive_language: true only if offensive or inappropriate wording is present.\n\nReturn exactly this JSON shape:\n{\"review_status\":\"accepted|retry|manual_review|stop\",\"score\":0.0,\"confidence\":\"high|medium|low\",\"detected_issues\":[\"issue\"],\"checks\":{\"recipient_match\":true,\"invoice_number_present\":true,\"professional_tone\":true,\"forbidden_terms_absent\":true,\"format_valid\":true,\"offensive_language\":false},\"review_feedback\":\"specific instructions for the next draft\",\"recommended_action\":\"request_approval|needs_manual_review|stop\",\"accepted_email_subject\":\"Invoice #000\",\"accepted_email_body\":\"email body\"}"
            }
          ]
        },
        "options": {}
      },
      "id": "796474ec-19f5-44e5-9129-4a93c0132dd3",
      "name": "Reviewer Agent: Validate Email 1",
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        12112,
        5760
      ],
      "credentials": {
        "ollamaApi": {
          "id": "yKgICLm9wk5ERgN2",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const payload = $input.first().json;\nconst rawValue = $json.content ?? $json.text ?? $json.message?.content ?? $json.response ?? $json.output ?? JSON.stringify($json);\n\nfunction stripCodeFence(value) {\n  return String(value || '').trim().replace(/^```(?:json)?\\s*/i, '').replace(/```$/i, '').trim();\n}\n\nfunction extractJsonObject(text) {\n  const value = stripCodeFence(text);\n  try { return JSON.parse(value); } catch (_) {}\n  const first = value.indexOf('{');\n  const last = value.lastIndexOf('}');\n  if (first !== -1 && last > first) {\n    try { return JSON.parse(value.slice(first, last + 1)); } catch (_) {}\n  }\n  return null;\n}\n\nfunction normalizeNewlines(value) {\n  return String(value || '').replace(/\\\\r\\\\n/g, '\\n').replace(/\\\\n/g, '\\n').replace(/\\r\\n/g, '\\n').replace(/\\n{3,}/g, '\\n\\n').trim();\n}\n\nfunction asArray(value) {\n  if (Array.isArray(value)) return value.map(String).map((v) => v.trim()).filter(Boolean);\n  if (value === undefined || value === null || value === '') return [];\n  return [String(value).trim()].filter(Boolean);\n}\n\nfunction normalizeEmailList(value) {\n  if (value === undefined || value === null || value === '') return [];\n  const values = Array.isArray(value) ? value : [value];\n  return values.flatMap((item) => {\n    if (!item) return [];\n    if (typeof item === 'string') return item.split(',');\n    if (typeof item === 'object') return [item.email, item.address, item.value, item.text];\n    return [String(item)];\n  }).map((v) => String(v || '').trim()).filter((v) => /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(v));\n}\n\nfunction containsForbidden(value, terms) {\n  const text = String(value || '').toLowerCase();\n  return terms.some((term) => text.includes(String(term).toLowerCase()));\n}\n\nfunction hasOffensiveLanguage(value) {\n  const text = String(value || '').toLowerCase();\n  return /\\b(fuck|shit|idiot|stupid|hate|damn)\\b/i.test(text);\n}\n\nfunction ensureSignature(body) {\n  let value = normalizeNewlines(body).replace(/\\n*Best Regards,?\\s*(Guilherme)?\\s*$/i, '').trim();\n  return `${value}\\n\\nBest Regards,\\nGuilherme`;\n}\n\nconst parsed = extractJsonObject(rawValue) || {};\nconst source = payload.source;\nconst draft = payload.draft_email || {};\nconst invoiceToken = `Invoice #${source.invoice_number}`;\nconst subject = normalizeNewlines(parsed.accepted_email_subject || draft.email_subject || invoiceToken);\nconst body = ensureSignature(parsed.accepted_email_body || draft.email_body || '');\nconst emailTo = normalizeEmailList(draft.email_to).length ? normalizeEmailList(draft.email_to) : normalizeEmailList(payload.recipient_policy.allowed_emails);\nconst allowedEmails = normalizeEmailList(payload.recipient_policy.allowed_emails);\nconst forbiddenTerms = asArray(payload.knowledge_base?.forbidden_client_email_terms);\nconst joinedEmail = `${subject}\\n${body}`;\n\nconst recipientMatch = emailTo.length > 0 && emailTo.every((email) => allowedEmails.includes(email));\nconst invoiceNumberPresent = subject.includes(invoiceToken) && body.includes(invoiceToken);\nconst forbiddenTermsAbsent = !containsForbidden(joinedEmail, forbiddenTerms);\nconst offensiveLanguage = hasOffensiveLanguage(joinedEmail);\nconst formatValid = /^Hi X and Y,/i.test(body) && /Best Regards,\\s*\\nGuilherme/i.test(body);\nconst professionalTone = body.length <= 650 && !/[!]{2,}/.test(body);\n\nconst deterministicIssues = [];\nif (!recipientMatch) deterministicIssues.push('Email recipients do not match the allowed recipient policy.');\nif (!invoiceNumberPresent) deterministicIssues.push('Email subject/body must include the exact invoice number.');\nif (!forbiddenTermsAbsent) deterministicIssues.push('Email contains forbidden client-facing terms or internal invoice details.');\nif (!formatValid) deterministicIssues.push('Email format must include greeting, body, and Best Regards/Guilherme sign-off.');\nif (!professionalTone) deterministicIssues.push('Email tone or length is not professional/concise enough.');\nif (offensiveLanguage) deterministicIssues.push('Email contains offensive or inappropriate language.');\n\nconst checks = {\n  recipient_match: recipientMatch,\n  invoice_number_present: invoiceNumberPresent,\n  professional_tone: professionalTone,\n  forbidden_terms_absent: forbiddenTermsAbsent,\n  format_valid: formatValid,\n  offensive_language: offensiveLanguage,\n};\n\nlet score = Number(parsed.score);\nif (!Number.isFinite(score)) {\n  score = Object.values(checks).filter(Boolean).length / Object.keys(checks).length;\n}\n\nlet reviewStatus = String(parsed.review_status || '').toLowerCase();\nif (offensiveLanguage || (!recipientMatch && emailTo.length > 0)) {\n  reviewStatus = 'stop';\n} else if (deterministicIssues.length === 0 && score >= 0.85) {\n  reviewStatus = 'accepted';\n} else if (payload.attempt < payload.max_attempts) {\n  reviewStatus = 'retry';\n} else {\n  reviewStatus = 'manual_review';\n}\n\nlet recommendedAction = reviewStatus === 'accepted' ? 'request_approval' : (reviewStatus === 'stop' ? 'stop' : 'needs_manual_review');\nconst detectedIssues = [...new Set([...asArray(parsed.detected_issues), ...deterministicIssues])];\nconst reviewFeedback = normalizeNewlines(parsed.review_feedback || detectedIssues.join(' ') || 'Improve the email according to the required style and policy.');\n\nreturn {\n  json: {\n    ...payload,\n    review_status: reviewStatus,\n    score,\n    confidence: parsed.confidence || (score >= 0.85 ? 'high' : score >= 0.65 ? 'medium' : 'low'),\n    detected_issues: detectedIssues,\n    checks,\n    review_feedback: reviewFeedback,\n    recommended_action: recommendedAction,\n    accepted_email_subject: subject,\n    accepted_email_body: body,\n    email_to: emailTo,\n    email_cc: normalizeEmailList(draft.email_cc),\n    email_bcc: normalizeEmailList(draft.email_bcc),\n    reviewer_raw_response: String(rawValue || ''),\n  },\n};"
      },
      "id": "0b1020bc-4a3d-4186-ac2a-31c5f581049f",
      "name": "Normalize Review Output 1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12320,
        5760
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "review-1-accepted",
                    "leftValue": "={{ $json.review_status || $json.recommended_action }}",
                    "rightValue": "accepted",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "accepted"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "review-1-retry",
                    "leftValue": "={{ $json.review_status || $json.recommended_action }}",
                    "rightValue": "retry",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "retry"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "review-1-manual",
                    "leftValue": "={{ $json.review_status || $json.recommended_action }}",
                    "rightValue": "manual_review",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "manual_review"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "review-1-stop",
                    "leftValue": "={{ $json.review_status || $json.recommended_action }}",
                    "rightValue": "stop",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "stop"
            }
          ]
        },
        "options": {}
      },
      "id": "28dacd92-9ad2-4062-9a90-8dd4235f331f",
      "name": "Switch: Review Decision 1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        12528,
        5760
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const current = $json;\nconst previousDrafts = [...(current.previous_drafts || []), {\n  attempt: current.attempt,\n  draft_email: current.draft_email,\n  review_status: current.review_status,\n  score: current.score,\n  detected_issues: current.detected_issues || [],\n  review_feedback: current.review_feedback || '',\n}];\n\nreturn {\n  json: {\n    ...current,\n    attempt: current.attempt + 1,\n    previous_drafts: previousDrafts,\n    reviewer_feedback: current.review_feedback || 'Revise the email to satisfy all reviewer checks.',\n    draft_email: undefined,\n    review_status: undefined,\n    score: undefined,\n    checks: undefined,\n    recommended_action: undefined,\n    accepted_email_subject: undefined,\n    accepted_email_body: undefined,\n  },\n};"
      },
      "id": "3b91c450-32a0-4291-8611-04932ea0cb0e",
      "name": "Prepare Draft Retry 2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12736,
        5904
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "llama3.2:3b",
          "mode": "list",
          "cachedResultName": "llama3.2:3b"
        },
        "messages": {
          "values": [
            {
              "content": "=You are the Draft Agent in an n8n invoice workflow.\n\nReturn only one valid JSON object. Do not use Markdown, code fences, or explXtions.\n\nYour job is to draft only the external client email. Do not validate the invoice and do not decide whether to send it.\n\nInput payload:\n{{ JSON.stringify($json, null, 2) }}\n\nRules:\n- Use the invoice number exactly as provided: Invoice #{{ $json.source.invoice_number }}.\n- Address the email to X and Y.\n- Keep the email short, professional, and close to the good examples in the knowledge base.\n- Do not mention hours, hourly rate, amount, dates, period, Productive.io, time entries, AI, automation, validation, approval, confidence, detected issues, work summary, or internal workflow details.\n- Do not invent links, filenames, extra recipients, or work performed.\n- If reviewer_feedback is present, apply it.\n\nReturn exactly this JSON shape:\n{\"email_to\":[\"recipient@example.com\"],\"email_cc\":[],\"email_bcc\":[],\"email_subject\":\"Invoice #000\",\"email_body\":\"email body\",\"draft_notes\":\"short note about what changed\"}"
            }
          ]
        },
        "options": {}
      },
      "id": "f319d507-2944-4ffa-b8b5-a418f37cdf4e",
      "name": "Draft Agent: Generate Email 2",
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        12944,
        5904
      ],
      "credentials": {
        "ollamaApi": {
          "id": "yKgICLm9wk5ERgN2",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const payload = $input.first().json;\nconst rawValue = $json.content ?? $json.text ?? $json.message?.content ?? $json.response ?? $json.output ?? JSON.stringify($json);\n\nfunction stripCodeFence(value) {\n  return String(value || '').trim().replace(/^```(?:json)?\\s*/i, '').replace(/```$/i, '').trim();\n}\n\nfunction extractJsonObject(text) {\n  const value = stripCodeFence(text);\n  try { return JSON.parse(value); } catch (_) {}\n  const first = value.indexOf('{');\n  const last = value.lastIndexOf('}');\n  if (first !== -1 && last > first) {\n    try { return JSON.parse(value.slice(first, last + 1)); } catch (_) {}\n  }\n  return null;\n}\n\nfunction normalizeNewlines(value) {\n  return String(value || '').replace(/\\\\r\\\\n/g, '\\n').replace(/\\\\n/g, '\\n').replace(/\\r\\n/g, '\\n').replace(/\\n{3,}/g, '\\n\\n').trim();\n}\n\nfunction normalizeEmailList(value) {\n  if (value === undefined || value === null || value === '') return [];\n  const values = Array.isArray(value) ? value : [value];\n  return values.flatMap((item) => {\n    if (!item) return [];\n    if (typeof item === 'string') return item.split(',');\n    if (typeof item === 'object') return [item.email, item.address, item.value, item.text];\n    return [String(item)];\n  }).map((v) => String(v || '').trim()).filter((v) => /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(v));\n}\n\nfunction defaultEmail(invoiceNumber) {\n  return `Hi X and Y,\\n\\nI hope this email finds you well.\\n\\nPlease find attached Invoice #${invoiceNumber} for the services provided. Thank you for your time.\\n\\nBest Regards,\\nGuilherme`;\n}\n\nconst parsed = extractJsonObject(rawValue) || {};\nconst invoiceNumber = payload.source.invoice_number;\nconst invoiceToken = `Invoice #${invoiceNumber}`;\nconst emailSubject = normalizeNewlines(parsed.email_subject || invoiceToken);\nconst emailBody = normalizeNewlines(parsed.email_body || rawValue || defaultEmail(invoiceNumber));\nconst emailTo = normalizeEmailList(parsed.email_to).length ? normalizeEmailList(parsed.email_to) : normalizeEmailList(payload.recipient_policy.allowed_emails);\n\nreturn {\n  json: {\n    ...payload,\n    draft_email: {\n      email_to: emailTo,\n      email_cc: normalizeEmailList(parsed.email_cc),\n      email_bcc: normalizeEmailList(parsed.email_bcc),\n      email_subject: emailSubject,\n      email_body: emailBody,\n      draft_notes: normalizeNewlines(parsed.draft_notes || ''),\n      raw_response: String(rawValue || ''),\n    },\n  },\n};"
      },
      "id": "156aa6fb-59a8-4115-9be5-e5cfb0d10ce7",
      "name": "Normalize Draft Output 2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13152,
        5904
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "llama3.2:3b",
          "mode": "list",
          "cachedResultName": "llama3.2:3b"
        },
        "messages": {
          "values": [
            {
              "content": "=You are the Reviewer Agent in an n8n invoice workflow.\n\nReturn only one valid JSON object. Do not use Markdown, code fences, or explXtions.\n\nYour job is to review the Draft Agent output using the invoice data, recipient policy, and knowledge base. You do not send email and you do not change financial values.\n\nReview payload:\n{{ JSON.stringify($json, null, 2) }}\n\nClassify the draft as:\n- accepted: good enough for Guilherme to review.\n- retry: fixable issues; give precise reviewer_feedback for the next draft.\n- manual_review: repeated or ambiguous issues that should go to Guilherme.\n- stop: unsafe issue such as offensive language, unauthorized recipient, missing invoice number, or severe malformed data.\n\nRequired checks:\n- recipient_match: recipients are allowed by recipient_policy.\n- invoice_number_present: subject and body include exact Invoice #.\n- professional_tone: concise and professional.\n- forbidden_terms_absent: no forbidden client-email terms from the knowledge base.\n- format_valid: greeting, body, and Best Regards/Guilherme sign-off.\n- offensive_language: true only if offensive or inappropriate wording is present.\n\nReturn exactly this JSON shape:\n{\"review_status\":\"accepted|retry|manual_review|stop\",\"score\":0.0,\"confidence\":\"high|medium|low\",\"detected_issues\":[\"issue\"],\"checks\":{\"recipient_match\":true,\"invoice_number_present\":true,\"professional_tone\":true,\"forbidden_terms_absent\":true,\"format_valid\":true,\"offensive_language\":false},\"review_feedback\":\"specific instructions for the next draft\",\"recommended_action\":\"request_approval|needs_manual_review|stop\",\"accepted_email_subject\":\"Invoice #000\",\"accepted_email_body\":\"email body\"}"
            }
          ]
        },
        "options": {}
      },
      "id": "d115ecd2-32b0-4cc2-9dab-33157251e442",
      "name": "Reviewer Agent: Validate Email 2",
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        13360,
        5904
      ],
      "credentials": {
        "ollamaApi": {
          "id": "yKgICLm9wk5ERgN2",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const payload = $input.first().json;\nconst rawValue = $json.content ?? $json.text ?? $json.message?.content ?? $json.response ?? $json.output ?? JSON.stringify($json);\n\nfunction stripCodeFence(value) {\n  return String(value || '').trim().replace(/^```(?:json)?\\s*/i, '').replace(/```$/i, '').trim();\n}\n\nfunction extractJsonObject(text) {\n  const value = stripCodeFence(text);\n  try { return JSON.parse(value); } catch (_) {}\n  const first = value.indexOf('{');\n  const last = value.lastIndexOf('}');\n  if (first !== -1 && last > first) {\n    try { return JSON.parse(value.slice(first, last + 1)); } catch (_) {}\n  }\n  return null;\n}\n\nfunction normalizeNewlines(value) {\n  return String(value || '').replace(/\\\\r\\\\n/g, '\\n').replace(/\\\\n/g, '\\n').replace(/\\r\\n/g, '\\n').replace(/\\n{3,}/g, '\\n\\n').trim();\n}\n\nfunction asArray(value) {\n  if (Array.isArray(value)) return value.map(String).map((v) => v.trim()).filter(Boolean);\n  if (value === undefined || value === null || value === '') return [];\n  return [String(value).trim()].filter(Boolean);\n}\n\nfunction normalizeEmailList(value) {\n  if (value === undefined || value === null || value === '') return [];\n  const values = Array.isArray(value) ? value : [value];\n  return values.flatMap((item) => {\n    if (!item) return [];\n    if (typeof item === 'string') return item.split(',');\n    if (typeof item === 'object') return [item.email, item.address, item.value, item.text];\n    return [String(item)];\n  }).map((v) => String(v || '').trim()).filter((v) => /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(v));\n}\n\nfunction containsForbidden(value, terms) {\n  const text = String(value || '').toLowerCase();\n  return terms.some((term) => text.includes(String(term).toLowerCase()));\n}\n\nfunction hasOffensiveLanguage(value) {\n  const text = String(value || '').toLowerCase();\n  return /\\b(fuck|shit|idiot|stupid|hate|damn)\\b/i.test(text);\n}\n\nfunction ensureSignature(body) {\n  let value = normalizeNewlines(body).replace(/\\n*Best Regards,?\\s*(Guilherme)?\\s*$/i, '').trim();\n  return `${value}\\n\\nBest Regards,\\nGuilherme`;\n}\n\nconst parsed = extractJsonObject(rawValue) || {};\nconst source = payload.source;\nconst draft = payload.draft_email || {};\nconst invoiceToken = `Invoice #${source.invoice_number}`;\nconst subject = normalizeNewlines(parsed.accepted_email_subject || draft.email_subject || invoiceToken);\nconst body = ensureSignature(parsed.accepted_email_body || draft.email_body || '');\nconst emailTo = normalizeEmailList(draft.email_to).length ? normalizeEmailList(draft.email_to) : normalizeEmailList(payload.recipient_policy.allowed_emails);\nconst allowedEmails = normalizeEmailList(payload.recipient_policy.allowed_emails);\nconst forbiddenTerms = asArray(payload.knowledge_base?.forbidden_client_email_terms);\nconst joinedEmail = `${subject}\\n${body}`;\n\nconst recipientMatch = emailTo.length > 0 && emailTo.every((email) => allowedEmails.includes(email));\nconst invoiceNumberPresent = subject.includes(invoiceToken) && body.includes(invoiceToken);\nconst forbiddenTermsAbsent = !containsForbidden(joinedEmail, forbiddenTerms);\nconst offensiveLanguage = hasOffensiveLanguage(joinedEmail);\nconst formatValid = /^Hi X and Y,/i.test(body) && /Best Regards,\\s*\\nGuilherme/i.test(body);\nconst professionalTone = body.length <= 650 && !/[!]{2,}/.test(body);\n\nconst deterministicIssues = [];\nif (!recipientMatch) deterministicIssues.push('Email recipients do not match the allowed recipient policy.');\nif (!invoiceNumberPresent) deterministicIssues.push('Email subject/body must include the exact invoice number.');\nif (!forbiddenTermsAbsent) deterministicIssues.push('Email contains forbidden client-facing terms or internal invoice details.');\nif (!formatValid) deterministicIssues.push('Email format must include greeting, body, and Best Regards/Guilherme sign-off.');\nif (!professionalTone) deterministicIssues.push('Email tone or length is not professional/concise enough.');\nif (offensiveLanguage) deterministicIssues.push('Email contains offensive or inappropriate language.');\n\nconst checks = {\n  recipient_match: recipientMatch,\n  invoice_number_present: invoiceNumberPresent,\n  professional_tone: professionalTone,\n  forbidden_terms_absent: forbiddenTermsAbsent,\n  format_valid: formatValid,\n  offensive_language: offensiveLanguage,\n};\n\nlet score = Number(parsed.score);\nif (!Number.isFinite(score)) {\n  score = Object.values(checks).filter(Boolean).length / Object.keys(checks).length;\n}\n\nlet reviewStatus = String(parsed.review_status || '').toLowerCase();\nif (offensiveLanguage || (!recipientMatch && emailTo.length > 0)) {\n  reviewStatus = 'stop';\n} else if (deterministicIssues.length === 0 && score >= 0.85) {\n  reviewStatus = 'accepted';\n} else if (payload.attempt < payload.max_attempts) {\n  reviewStatus = 'retry';\n} else {\n  reviewStatus = 'manual_review';\n}\n\nlet recommendedAction = reviewStatus === 'accepted' ? 'request_approval' : (reviewStatus === 'stop' ? 'stop' : 'needs_manual_review');\nconst detectedIssues = [...new Set([...asArray(parsed.detected_issues), ...deterministicIssues])];\nconst reviewFeedback = normalizeNewlines(parsed.review_feedback || detectedIssues.join(' ') || 'Improve the email according to the required style and policy.');\n\nreturn {\n  json: {\n    ...payload,\n    review_status: reviewStatus,\n    score,\n    confidence: parsed.confidence || (score >= 0.85 ? 'high' : score >= 0.65 ? 'medium' : 'low'),\n    detected_issues: detectedIssues,\n    checks,\n    review_feedback: reviewFeedback,\n    recommended_action: recommendedAction,\n    accepted_email_subject: subject,\n    accepted_email_body: body,\n    email_to: emailTo,\n    email_cc: normalizeEmailList(draft.email_cc),\n    email_bcc: normalizeEmailList(draft.email_bcc),\n    reviewer_raw_response: String(rawValue || ''),\n  },\n};"
      },
      "id": "722ce71d-61f2-4a19-a5f8-c3d00631a6f8",
      "name": "Normalize Review Output 2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13568,
        5904
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "review-2-accepted",
                    "leftValue": "={{ $json.review_status || $json.recommended_action }}",
                    "rightValue": "accepted",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "accepted"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "review-2-retry",
                    "leftValue": "={{ $json.review_status || $json.recommended_action }}",
                    "rightValue": "retry",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "retry"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "review-2-manual",
                    "leftValue": "={{ $json.review_status || $json.recommended_action }}",
                    "rightValue": "manual_review",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "manual_review"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "review-2-stop",
                    "leftValue": "={{ $json.review_status || $json.recommended_action }}",
                    "rightValue": "stop",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "stop"
            }
          ]
        },
        "options": {}
      },
      "id": "15def840-8202-47be-be23-116068f69bb8",
      "name": "Switch: Review Decision 2",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        13776,
        5904
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const current = $json;\nconst previousDrafts = [...(current.previous_drafts || []), {\n  attempt: current.attempt,\n  draft_email: current.draft_email,\n  review_status: current.review_status,\n  score: current.score,\n  detected_issues: current.detected_issues || [],\n  review_feedback: current.review_feedback || '',\n}];\n\nreturn {\n  json: {\n    ...current,\n    attempt: current.attempt + 1,\n    previous_drafts: previousDrafts,\n    reviewer_feedback: current.review_feedback || 'Revise the email to satisfy all reviewer checks.',\n    draft_email: undefined,\n    review_status: undefined,\n    score: undefined,\n    checks: undefined,\n    recommended_action: undefined,\n    accepted_email_subject: undefined,\n    accepted_email_body: undefined,\n  },\n};"
      },
      "id": "a9d4a0fe-a1c6-4a6c-af5f-4cd87184803f",
      "name": "Prepare Draft Retry 3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13984,
        6048
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "llama3.2:3b",
          "mode": "list",
          "cachedResultName": "llama3.2:3b"
        },
        "messages": {
          "values": [
            {
              "content": "=You are the Draft Agent in an n8n invoice workflow.\n\nReturn only one valid JSON object. Do not use Markdown, code fences, or explXtions.\n\nYour job is to draft only the external client email. Do not validate the invoice and do not decide whether to send it.\n\nInput payload:\n{{ JSON.stringify($json, null, 2) }}\n\nRules:\n- Use the invoice number exactly as provided: Invoice #{{ $json.source.invoice_number }}.\n- Address the email to X and Y.\n- Keep the email short, professional, and close to the good examples in the knowledge base.\n- Do not mention hours, hourly rate, amount, dates, period, Productive.io, time entries, AI, automation, validation, approval, confidence, detected issues, work summary, or internal workflow details.\n- Do not invent links, filenames, extra recipients, or work performed.\n- If reviewer_feedback is present, apply it.\n\nReturn exactly this JSON shape:\n{\"email_to\":[\"recipient@example.com\"],\"email_cc\":[],\"email_bcc\":[],\"email_subject\":\"Invoice #000\",\"email_body\":\"email body\",\"draft_notes\":\"short note about what changed\"}"
            }
          ]
        },
        "options": {}
      },
      "id": "8662ef5f-e271-42ff-aea4-d6e5d9e9ed98",
      "name": "Draft Agent: Generate Email 3",
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        14192,
        6048
      ],
      "credentials": {
        "ollamaApi": {
          "id": "yKgICLm9wk5ERgN2",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const payload = $input.first().json;\nconst rawValue = $json.content ?? $json.text ?? $json.message?.content ?? $json.response ?? $json.output ?? JSON.stringify($json);\n\nfunction stripCodeFence(value) {\n  return String(value || '').trim().replace(/^```(?:json)?\\s*/i, '').replace(/```$/i, '').trim();\n}\n\nfunction extractJsonObject(text) {\n  const value = stripCodeFence(text);\n  try { return JSON.parse(value); } catch (_) {}\n  const first = value.indexOf('{');\n  const last = value.lastIndexOf('}');\n  if (first !== -1 && last > first) {\n    try { return JSON.parse(value.slice(first, last + 1)); } catch (_) {}\n  }\n  return null;\n}\n\nfunction normalizeNewlines(value) {\n  return String(value || '').replace(/\\\\r\\\\n/g, '\\n').replace(/\\\\n/g, '\\n').replace(/\\r\\n/g, '\\n').replace(/\\n{3,}/g, '\\n\\n').trim();\n}\n\nfunction normalizeEmailList(value) {\n  if (value === undefined || value === null || value === '') return [];\n  const values = Array.isArray(value) ? value : [value];\n  return values.flatMap((item) => {\n    if (!item) return [];\n    if (typeof item === 'string') return item.split(',');\n    if (typeof item === 'object') return [item.email, item.address, item.value, item.text];\n    return [String(item)];\n  }).map((v) => String(v || '').trim()).filter((v) => /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(v));\n}\n\nfunction defaultEmail(invoiceNumber) {\n  return `Hi X and Y,\\n\\nI hope this email finds you well.\\n\\nPlease find attached Invoice #${invoiceNumber} for the services provided. Thank you for your time.\\n\\nBest Regards,\\nGuilherme`;\n}\n\nconst parsed = extractJsonObject(rawValue) || {};\nconst invoiceNumber = payload.source.invoice_number;\nconst invoiceToken = `Invoice #${invoiceNumber}`;\nconst emailSubject = normalizeNewlines(parsed.email_subject || invoiceToken);\nconst emailBody = normalizeNewlines(parsed.email_body || rawValue || defaultEmail(invoiceNumber));\nconst emailTo = normalizeEmailList(parsed.email_to).length ? normalizeEmailList(parsed.email_to) : normalizeEmailList(payload.recipient_policy.allowed_emails);\n\nreturn {\n  json: {\n    ...payload,\n    draft_email: {\n      email_to: emailTo,\n      email_cc: normalizeEmailList(parsed.email_cc),\n      email_bcc: normalizeEmailList(parsed.email_bcc),\n      email_subject: emailSubject,\n      email_body: emailBody,\n      draft_notes: normalizeNewlines(parsed.draft_notes || ''),\n      raw_response: String(rawValue || ''),\n    },\n  },\n};"
      },
      "id": "44246da3-8a99-41cf-beae-73067f04da13",
      "name": "Normalize Draft Output 3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        14400,
        6048
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "llama3.2:3b",
          "mode": "list",
          "cachedResultName": "llama3.2:3b"
        },
        "messages": {
          "values": [
            {
              "content": "=You are the Reviewer Agent in an n8n invoice workflow.\n\nReturn only one valid JSON object. Do not use Markdown, code fences, or explXtions.\n\nYour job is to review the Draft Agent output using the invoice data, recipient policy, and knowledge base. You do not send email and you do not change financial values.\n\nReview payload:\n{{ JSON.stringify($json, null, 2) }}\n\nClassify the draft as:\n- accepted: good enough for Guilherme to review.\n- retry: fixable issues; give precise reviewer_feedback for the next draft.\n- manual_review: repeated or ambiguous issues that should go to Guilherme.\n- stop: unsafe issue such as offensive language, unauthorized recipient, missing invoice number, or severe malformed data.\n\nRequired checks:\n- recipient_match: recipients are allowed by recipient_policy.\n- invoice_number_present: subject and body include exact Invoice #.\n- professional_tone: concise and professional.\n- forbidden_terms_absent: no forbidden client-email terms from the knowledge base.\n- format_valid: greeting, body, and Best Regards/Guilherme sign-off.\n- offensive_language: true only if offensive or inappropriate wording is present.\n\nReturn exactly this JSON shape:\n{\"review_status\":\"accepted|retry|manual_review|stop\",\"score\":0.0,\"confidence\":\"high|medium|low\",\"detected_issues\":[\"issue\"],\"checks\":{\"recipient_match\":true,\"invoice_number_present\":true,\"professional_tone\":true,\"forbidden_terms_absent\":true,\"format_valid\":true,\"offensive_language\":false},\"review_feedback\":\"specific instructions for the next draft\",\"recommended_action\":\"request_approval|needs_manual_review|stop\",\"accepted_email_subject\":\"Invoice #000\",\"accepted_email_body\":\"email body\"}"
            }
          ]
        },
        "options": {}
      },
      "id": "5c6a1cc8-26c7-479e-9af3-ffaab6b9ea67",
      "name": "Reviewer Agent: Validate Email 3",
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        14608,
        6048
      ],
      "credentials": {
        "ollamaApi": {
          "id": "yKgICLm9wk5ERgN2",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const payload = $input.first().json;\nconst rawValue = $json.content ?? $json.text ?? $json.message?.content ?? $json.response ?? $json.output ?? JSON.stringify($json);\n\nfunction stripCodeFence(value) {\n  return String(value || '').trim().replace(/^```(?:json)?\\s*/i, '').replace(/```$/i, '').trim();\n}\n\nfunction extractJsonObject(text) {\n  const value = stripCodeFence(text);\n  try { return JSON.parse(value); } catch (_) {}\n  const first = value.indexOf('{');\n  const last = value.lastIndexOf('}');\n  if (first !== -1 && last > first) {\n    try { return JSON.parse(value.slice(first, last + 1)); } catch (_) {}\n  }\n  return null;\n}\n\nfunction normalizeNewlines(value) {\n  return String(value || '').replace(/\\\\r\\\\n/g, '\\n').replace(/\\\\n/g, '\\n').replace(/\\r\\n/g, '\\n').replace(/\\n{3,}/g, '\\n\\n').trim();\n}\n\nfunction asArray(value) {\n  if (Array.isArray(value)) return value.map(String).map((v) => v.trim()).filter(Boolean);\n  if (value === undefined || value === null || value === '') return [];\n  return [String(value).trim()].filter(Boolean);\n}\n\nfunction normalizeEmailList(value) {\n  if (value === undefined || value === null || value === '') return [];\n  const values = Array.isArray(value) ? value : [value];\n  return values.flatMap((item) => {\n    if (!item) return [];\n    if (typeof item === 'string') return item.split(',');\n    if (typeof item === 'object') return [item.email, item.address, item.value, item.text];\n    return [String(item)];\n  }).map((v) => String(v || '').trim()).filter((v) => /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(v));\n}\n\nfunction containsForbidden(value, terms) {\n  const text = String(value || '').toLowerCase();\n  return terms.some((term) => text.includes(String(term).toLowerCase()));\n}\n\nfunction hasOffensiveLanguage(value) {\n  const text = String(value || '').toLowerCase();\n  return /\\b(fuck|shit|idiot|stupid|hate|damn)\\b/i.test(text);\n}\n\nfunction ensureSignature(body) {\n  let value = normalizeNewlines(body).replace(/\\n*Best Regards,?\\s*(Guilherme)?\\s*$/i, '').trim();\n  return `${value}\\n\\nBest Regards,\\nGuilherme`;\n}\n\nconst parsed = extractJsonObject(rawValue) || {};\nconst source = payload.source;\nconst draft = payload.draft_email || {};\nconst invoiceToken = `Invoice #${source.invoice_number}`;\nconst subject = normalizeNewlines(parsed.accepted_email_subject || draft.email_subject || invoiceToken);\nconst body = ensureSignature(parsed.accepted_email_body || draft.email_body || '');\nconst emailTo = normalizeEmailList(draft.email_to).length ? normalizeEmailList(draft.email_to) : normalizeEmailList(payload.recipient_policy.allowed_emails);\nconst allowedEmails = normalizeEmailList(payload.recipient_policy.allowed_emails);\nconst forbiddenTerms = asArray(payload.knowledge_base?.forbidden_client_email_terms);\nconst joinedEmail = `${subject}\\n${body}`;\n\nconst recipientMatch = emailTo.length > 0 && emailTo.every((email) => allowedEmails.includes(email));\nconst invoiceNumberPresent = subject.includes(invoiceToken) && body.includes(invoiceToken);\nconst forbiddenTermsAbsent = !containsForbidden(joinedEmail, forbiddenTerms);\nconst offensiveLanguage = hasOffensiveLanguage(joinedEmail);\nconst formatValid = /^Hi X and Y,/i.test(body) && /Best Regards,\\s*\\nGuilherme/i.test(body);\nconst professionalTone = body.length <= 650 && !/[!]{2,}/.test(body);\n\nconst deterministicIssues = [];\nif (!recipientMatch) deterministicIssues.push('Email recipients do not match the allowed recipient policy.');\nif (!invoiceNumberPresent) deterministicIssues.push('Email subject/body must include the exact invoice number.');\nif (!forbiddenTermsAbsent) deterministicIssues.push('Email contains forbidden client-facing terms or internal invoice details.');\nif (!formatValid) deterministicIssues.push('Email format must include greeting, body, and Best Regards/Guilherme sign-off.');\nif (!professionalTone) deterministicIssues.push('Email tone or length is not professional/concise enough.');\nif (offensiveLanguage) deterministicIssues.push('Email contains offensive or inappropriate language.');\n\nconst checks = {\n  recipient_match: recipientMatch,\n  invoice_number_present: invoiceNumberPresent,\n  professional_tone: professionalTone,\n  forbidden_terms_absent: forbiddenTermsAbsent,\n  format_valid: formatValid,\n  offensive_language: offensiveLanguage,\n};\n\nlet score = Number(parsed.score);\nif (!Number.isFinite(score)) {\n  score = Object.values(checks).filter(Boolean).length / Object.keys(checks).length;\n}\n\nlet reviewStatus = String(parsed.review_status || '').toLowerCase();\nif (offensiveLanguage || (!recipientMatch && emailTo.length > 0)) {\n  reviewStatus = 'stop';\n} else if (deterministicIssues.length === 0 && score >= 0.85) {\n  reviewStatus = 'accepted';\n} else if (payload.attempt < payload.max_attempts) {\n  reviewStatus = 'retry';\n} else {\n  reviewStatus = 'manual_review';\n}\n\nlet recommendedAction = reviewStatus === 'accepted' ? 'request_approval' : (reviewStatus === 'stop' ? 'stop' : 'needs_manual_review');\nconst detectedIssues = [...new Set([...asArray(parsed.detected_issues), ...deterministicIssues])];\nconst reviewFeedback = normalizeNewlines(parsed.review_feedback || detectedIssues.join(' ') || 'Improve the email according to the required style and policy.');\n\nreturn {\n  json: {\n    ...payload,\n    review_status: reviewStatus,\n    score,\n    confidence: parsed.confidence || (score >= 0.85 ? 'high' : score >= 0.65 ? 'medium' : 'low'),\n    detected_issues: detectedIssues,\n    checks,\n    review_feedback: reviewFeedback,\n    recommended_action: recommendedAction,\n    accepted_email_subject: subject,\n    accepted_email_body: body,\n    email_to: emailTo,\n    email_cc: normalizeEmailList(draft.email_cc),\n    email_bcc: normalizeEmailList(draft.email_bcc),\n    reviewer_raw_response: String(rawValue || ''),\n  },\n};"
      },
      "id": "82cd0866-7827-4287-8678-6cd7332d6e9c",
      "name": "Normalize Review Output 3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        14816,
        6048
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $json;\nconst source = item.source || {};\n\nfunction normalizeNewlines(value) {\n  return String(value || '').replace(/\\\\r\\\\n/g, '\\n').replace(/\\\\n/g, '\\n').replace(/\\r\\n/g, '\\n').replace(/\\n{3,}/g, '\\n\\n').trim();\n}\n\nfunction asArray(value) {\n  if (Array.isArray(value)) return value.map(String).map((v) => v.trim()).filter(Boolean);\n  if (value === undefined || value === null || value === '') return [];\n  return [String(value).trim()].filter(Boolean);\n}\n\nconst reviewStatus = item.review_status || 'manual_review';\nconst invoiceNumber = source.invoice_number;\nconst invoiceToken = `Invoice #${invoiceNumber}`;\nlet recommendedAction = item.recommended_action || (reviewStatus === 'accepted' ? 'request_approval' : 'needs_manual_review');\nlet confidence = ['high', 'medium', 'low'].includes(item.confidence) ? item.confidence : 'medium';\nconst detectedIssues = asArray(item.detected_issues);\n\nif (!source.period_start || !source.period_end || source.amount === undefined || source.amount === null || !invoiceNumber) {\n  recommendedAction = 'stop';\n  confidence = 'low';\n  detectedIssues.push('Essential invoice data is missing.');\n}\n\nif ((source.warnings || []).length > 0 || Number(source.entry_count || 0) === 0 || Number(source.total_hours || 0) === 0) {\n  if (recommendedAction === 'request_approval') recommendedAction = 'needs_manual_review';\n  if (confidence === 'high') confidence = 'medium';\n}\n\nif (reviewStatus !== 'accepted' && recommendedAction === 'request_approval') {\n  recommendedAction = 'needs_manual_review';\n}\n\nconst emailSubject = normalizeNewlines(item.accepted_email_subject || invoiceToken);\nconst emailBody = normalizeNewlines(item.accepted_email_body || item.draft_email?.email_body || '');\nif (!emailSubject.includes(invoiceToken) || !emailBody.includes(invoiceToken)) {\n  recommendedAction = recommendedAction === 'stop' ? 'stop' : 'needs_manual_review';\n  detectedIssues.push('Final email is missing the exact invoice number.');\n}\n\nconst uniqueIssues = [...new Set(detectedIssues)];\nconst issueText = uniqueIssues.length ? uniqueIssues.join('; ') : 'none';\nconst telegramMessage = `Guilherme, Invoice #${invoiceNumber} passed the two-agent draft review with status ${reviewStatus}. Period: ${source.period_start} to ${source.period_end}. Hours: ${source.total_hours}. Amount: ${source.currency} ${source.amount}. Confidence: ${confidence}. Issues: ${issueText}. Reply approve, reject, or edit.`;\n\nreturn {\n  json: {\n    ...source,\n    confidence,\n    recommended_action: recommendedAction,\n    summary: reviewStatus === 'accepted' ? 'Two-agent review accepted the client email for human approval.' : 'Two-agent review did not accept the client email automatically.',\n    detected_issues: uniqueIssues,\n    work_summary: [],\n    telegram_message: telegramMessage,\n    email_subject: emailSubject,\n    email_body: emailBody,\n    email_review: {\n      status: reviewStatus,\n      attempts_used: item.attempt,\n      score: item.score,\n      checks: item.checks || {},\n      review_feedback: item.review_feedback || '',\n      previous_drafts: item.previous_drafts || [],\n    },\n    email_to: item.email_to || item.recipient_policy?.allowed_emails || [],\n    email_cc: item.email_cc || [],\n    email_bcc: item.email_bcc || [],\n  },\n};"
      },
      "id": "c9f7451c-57ff-4408-9f75-1664b4d121ca",
      "name": "Finalize Two-Agent AI Decision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15024,
        5760
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ai-action-approval",
                    "leftValue": "={{ $json.recommended_action }}",
                    "rightValue": "request_approval",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "request_approval"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ai-action-manual",
                    "leftValue": "={{ $json.recommended_action }}",
                    "rightValue": "needs_manual_review",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "needs_manual_review"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ai-action-stop",
                    "leftValue": "={{ $json.recommended_action }}",
                    "rightValue": "stop",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "stop"
            }
          ]
        },
        "options": {}
      },
      "id": "5991fc97-f865-440f-8564-5c01e3c36acd",
      "name": "Switch: AI Recommended Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        15232,
        5760
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $json;\nconst config = $('Edit Fields1').first().json;\nconst now = new Date().toISOString();\nconst registry = {\n  schema_version: 1,\n  status: 'manual_review',\n  run_id: item.run_id,\n  invoice_number: item.invoice_number,\n  invoice_status: 'manual_review',\n  period_start: item.period_start,\n  period_end: item.period_end,\n  entry_count: item.entry_count,\n  total_minutes: item.total_minutes,\n  total_hours: item.total_hours,\n  hourly_rate: item.hourly_rate,\n  currency: item.currency,\n  amount: item.amount,\n  confidence: item.confidence,\n  recommended_action: item.recommended_action,\n  detected_issues: item.detected_issues || [],\n  email_subject: item.email_subject,\n  email_body: item.email_body,\n  email_review: item.email_review || {},\n  telegram_chat_id: config.telegram_chat_id,\n  created_at: now,\n  updated_at: now,\n};\nconst registryText = JSON.stringify(registry, null, 2);\nreturn {\n  json: { ...item, registry, registry_file_id: config.current_invoice_registry_file_id },\n  binary: { registry_json: { data: Buffer.from(registryText, 'utf8').toString('base64'), fileName: 'current-invoice-state.json', fileExtension: 'json', mimeType: 'application/json' } },\n};"
      },
      "id": "4fbd001c-4df3-4f22-8d5b-c5291c2c2a8c",
      "name": "Build AI Manual Review Registry JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15440,
        5904
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Edit Fields1').item.json.telegram_chat_id }}",
        "text": "={{ 'Invoice #' + $json.invoice_number + ' needs manual review before generating the draft.\\n\\nIssues: ' + (($json.detected_issues || []).length ? $json.detected_issues.join('; ') : 'none') + '\\n\\nEmail subject: ' + ($json.email_subject || '') + '\\n\\n' + ($json.email_body || '') }}",
        "additionalFields": {}
      },
      "id": "2e653601-7755-47d6-9088-8aae920f9022",
      "name": "Telegram: AI Manual Review Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        15648,
        5904
      ],
      "credentials": {
        "telegramApi": {
          "id": "1zgSJaOd7LmrWoRq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.registry_file_id }}",
          "mode": "id"
        },
        "changeFileContent": true,
        "inputDataFieldName": "registry_json",
        "newUpdatedFileName": "current-invoice-state.json",
        "options": {}
      },
      "id": "9240f543-2314-4ff9-9bcb-6cc41720517a",
      "name": "Drive: Update AI Manual Review Registry",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        15648,
        6048
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "yESEGUv8xXGOwC2c",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $json;\nconst config = $('Edit Fields1').first().json;\nconst now = new Date().toISOString();\nconst registry = {\n  schema_version: 1,\n  status: 'stopped',\n  run_id: item.run_id,\n  invoice_number: item.invoice_number,\n  invoice_status: 'stopped',\n  period_start: item.period_start,\n  period_end: item.period_end,\n  entry_count: item.entry_count,\n  total_minutes: item.total_minutes,\n  total_hours: item.total_hours,\n  hourly_rate: item.hourly_rate,\n  currency: item.currency,\n  amount: item.amount,\n  confidence: item.confidence,\n  recommended_action: item.recommended_action,\n  detected_issues: item.detected_issues || [],\n  email_subject: item.email_subject,\n  email_body: item.email_body,\n  email_review: item.email_review || {},\n  telegram_chat_id: config.telegram_chat_id,\n  created_at: now,\n  updated_at: now,\n};\nconst registryText = JSON.stringify(registry, null, 2);\nreturn {\n  json: { ...item, registry, registry_file_id: config.current_invoice_registry_file_id },\n  binary: { registry_json: { data: Buffer.from(registryText, 'utf8').toString('base64'), fileName: 'current-invoice-state.json', fileExtension: 'json', mimeType: 'application/json' } },\n};"
      },
      "id": "469d89ef-f4ad-43cc-9547-6a05140c1018",
      "name": "Build AI Stopped Registry JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15440,
        6240
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Edit Fields1').item.json.telegram_chat_id }}",
        "text": "={{ 'Invoice #' + $json.invoice_number + ' was stopped by the two-agent review.\\n\\nIssues: ' + (($json.detected_issues || []).length ? $json.detected_issues.join('; ') : 'none') }}",
        "additionalFields": {}
      },
      "id": "78e2d279-a85a-4993-a680-e1425ddf4bd2",
      "name": "Telegram: AI Stop Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        15648,
        6240
      ],
      "credentials": {
        "telegramApi": {
          "id": "1zgSJaOd7LmrWoRq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.registry_file_id }}",
          "mode": "id"
        },
        "changeFileContent": true,
        "inputDataFieldName": "registry_json",
        "newUpdatedFileName": "current-invoice-state.json",
        "options": {}
      },
      "id": "2e9cea94-f059-4d65-83e6-dc01262a88b8",
      "name": "Drive: Update AI Stopped Registry",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        15648,
        6384
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "yESEGUv8xXGOwC2c",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Approve: Build Sent Registry JSON": {
      "main": [
        [
          {
            "node": "Approve: Update Registry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approve: Update Registry": {
      "main": [
        [
          {
            "node": "Telegram: Confirm Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit: Update Registry": {
      "main": [
        [
          {
            "node": "Telegram: Send Revised Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit: Normalize Revised Email": {
      "main": [
        [
          {
            "node": "Edit: Update Registry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit: Ollama Rewrite Email": {
      "main": [
        [
          {
            "node": "Edit: Normalize Revised Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reject: Update Registry": {
      "main": [
        [
          {
            "node": "Telegram: Confirm Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reject: Build Rejected Registry JSON": {
      "main": [
        [
          {
            "node": "Reject: Update Registry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail: Send Invoice": {
      "main": [
        [
          {
            "node": "Approve: Build Sent Registry JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approve: Prepare Gmail Payload": {
      "main": [
        [
          {
            "node": "Gmail: Send Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approve: Download PDF": {
      "main": [
        [
          {
            "node": "Approve: Prepare Gmail Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approve: Validate Current Invoice": {
      "main": [
        [
          {
            "node": "Approve: Download PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Command": {
      "main": [
        [
          {
            "node": "Approve: Validate Current Invoice",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reject: Build Rejected Registry JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit: Ollama Rewrite Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram: Send Command Help",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Registry JSON": {
      "main": [
        [
          {
            "node": "Route Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drive: Download Current Registry": {
      "main": [
        [
          {
            "node": "Load Registry JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Telegram Commands": {
      "main": [
        [
          {
            "node": "Drive: Download Current Registry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Parse Telegram Commands",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Current Invoice Registry JSON": {
      "main": [
        [
          {
            "node": "Drive: Update Current Invoice Registry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram: Send Draft": {
      "main": [
        [
          {
            "node": "Build Current Invoice Registry JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recover invoice data and append PDF draft": {
      "main": [
        [
          {
            "node": "Telegram: Send Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Invoice": {
      "main": [
        [
          {
            "node": "Recover invoice data and append PDF draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Data rows": {
      "main": [
        [
          {
            "node": "Recover Invoice Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recover Invoice Data": {
      "main": [
        [
          {
            "node": "Download Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Data rows entries": {
      "main": [
        [
          {
            "node": "Update Data rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append JSON and Invoice data": {
      "main": [
        [
          {
            "node": "Generate Data rows entries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy file": {
      "main": [
        [
          {
            "node": "Append JSON and Invoice data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reserve Invoice Number1": {
      "main": [
        [
          {
            "node": "Email Review Knowledge Base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Fetch time entries 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Entries and Calculate Amount 1": {
      "main": [
        [
          {
            "node": "Reserve Invoice Number1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Billing Period1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch time entries 1": {
      "main": [
        [
          {
            "node": "Parse Entries and Calculate Amount 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Set Billing Period1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger: Invoice Commands": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Review Knowledge Base": {
      "main": [
        [
          {
            "node": "Build Email Agent Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Email Agent Payload": {
      "main": [
        [
          {
            "node": "Draft Agent: Generate Email 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Draft Agent: Generate Email 1": {
      "main": [
        [
          {
            "node": "Normalize Draft Output 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Draft Output 1": {
      "main": [
        [
          {
            "node": "Reviewer Agent: Validate Email 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reviewer Agent: Validate Email 1": {
      "main": [
        [
          {
            "node": "Normalize Review Output 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Review Output 1": {
      "main": [
        [
          {
            "node": "Switch: Review Decision 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: Review Decision 1": {
      "main": [
        [
          {
            "node": "Finalize Two-Agent AI Decision",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Draft Retry 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Finalize Two-Agent AI Decision",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Finalize Two-Agent AI Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Draft Retry 2": {
      "main": [
        [
          {
            "node": "Draft Agent: Generate Email 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Draft Agent: Generate Email 2": {
      "main": [
        [
          {
            "node": "Normalize Draft Output 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Draft Output 2": {
      "main": [
        [
          {
            "node": "Reviewer Agent: Validate Email 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reviewer Agent: Validate Email 2": {
      "main": [
        [
          {
            "node": "Normalize Review Output 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Review Output 2": {
      "main": [
        [
          {
            "node": "Switch: Review Decision 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: Review Decision 2": {
      "main": [
        [
          {
            "node": "Finalize Two-Agent AI Decision",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Draft Retry 3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Finalize Two-Agent AI Decision",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Finalize Two-Agent AI Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Draft Retry 3": {
      "main": [
        [
          {
            "node": "Draft Agent: Generate Email 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Draft Agent: Generate Email 3": {
      "main": [
        [
          {
            "node": "Normalize Draft Output 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Draft Output 3": {
      "main": [
        [
          {
            "node": "Reviewer Agent: Validate Email 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reviewer Agent: Validate Email 3": {
      "main": [
        [
          {
            "node": "Normalize Review Output 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Review Output 3": {
      "main": [
        [
          {
            "node": "Finalize Two-Agent AI Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize Two-Agent AI Decision": {
      "main": [
        [
          {
            "node": "Switch: AI Recommended Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: AI Recommended Action": {
      "main": [
        [
          {
            "node": "Copy file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build AI Manual Review Registry JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build AI Stopped Registry JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build AI Manual Review Registry JSON": {
      "main": [
        [
          {
            "node": "Telegram: AI Manual Review Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Drive: Update AI Manual Review Registry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build AI Stopped Registry JSON": {
      "main": [
        [
          {
            "node": "Telegram: AI Stop Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Drive: Update AI Stopped Registry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "two-agent-review-1777851815080",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "10014be684e9825c4d56d2fab4ae819ea97f0d22eb1efbb03b11f2eac630c8cc",
    "note": "Two-agent invoice email drafting/review workflow with up to 3 draft-review attempts before manual review."
  },
  "id": "automation-invoice-two-agent-review-ngrok",
  "tags": []
}
