ingrid-soares/projeto-3/solutions/solution-a/workflow.json
{
  "name": "RedTeam-SolutionA",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "redteam-start",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "id": "webhook-trigger",
      "name": "Webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent?key={{$credentials.apiKey}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "contents",
              "value": "={{ [{\"parts\": [{\"text\": \"Analise o alvo: \" + $json.body.alvo + \". Gere um plano de ataque estruturado nas fases: fase_reconhecimento, fase_validacao, relatorio_riscos. Responda APENAS em JSON contendo os campos: fase_reconhecimento, fase_validacao, relatorio_riscos.\"}]}] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300],
      "id": "http-request-gemini",
      "name": "Agente Analista"
    },
    {
      "parameters": {
        "jsCode": "const outputText = items[0].json.candidates[0].content.parts[0].text;\nconst cleanJson = outputText.replace(/```json/g, '').replace(/```/g, '');\nconst output = JSON.parse(cleanJson);\nif (!output.fase_reconhecimento || !output.fase_validacao || !output.relatorio_riscos) {\n  throw new Error(\"Formato inválido\");\n}\nreturn { json: output };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300],
      "id": "validator-node",
      "name": "Validator Code"
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Agente Analista", "type": "main", "index": 0 }]] },
    "Agente Analista": { "main": [[{ "node": "Validator Code", "type": "main", "index": 0 }]] }
  }
}