projeto-individual-3/Lucas-Guimaraes-Borges/src/workflows/fluxo_n8n_agente_email.json
{
  "name": "TRIAGEM_EMAIL_CODZZ",
  "nodes": [
    {
      "name": "Email Trigger (IMAP)",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1,
      "position": [-380, -140],
      "parameters": {
        "options": {}
      }
    },
    {
      "name": "Settings",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-140, -140],
      "parameters": {
        "assignments": {
          "assignments": [
            { "name": "assunto", "value": "={{ $json.subject }}", "type": "string" },
            { "name": "conteudo", "value": "={{ $json.textPlain }}", "type": "string" }
          ]
        }
      }
    },
    {
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [110, -140],
      "parameters": {
        "promptType": "define",
        "text": "=assunto: {{ $json.assunto }}\nconteudo: {{ $json.conteudo }}",
        "hasOutputParser": true,
        "needsFallback": true
      }
    },
    {
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [300, 60],
      "parameters": {
        "jsonSchemaExample": "{\n  \"categoria\": \"financeiro\",\n  \"urgencia\": 7,\n  \"resumo\": \"Cliente relata cobrança indevida e solicita reembolso.\"\n}"
      }
    },
    {
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [510, -140],
      "parameters": {
        "assignments": {
          "assignments": [
            { "name": "categoria", "value": "={{ $json.output.categoria }}", "type": "string" },
            { "name": "urgencia", "value": "={{ $json.output.urgencia }}", "type": "number" },
            { "name": "resumo", "value": "={{ $json.output.resumo }}", "type": "string" }
          ]
        }
      }
    },
    {
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [810, -190],
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.categoria }}",
                    "rightValue": "suporte tecnico",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ]
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.categoria }}",
                    "rightValue": "financeiro",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ]
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      }
    },
    {
      "name": "Create a row",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [510, 80],
      "parameters": {
        "tableId": "suporte"
      }
    }
  ],
  "connections": {
    "Email Trigger (IMAP)": {
      "main": [[{ "node": "Settings", "type": "main", "index": 0 }]]
    },
    "Settings": {
      "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]]
    },
    "AI Agent": {
      "main": [[{ "node": "Edit Fields", "type": "main", "index": 0 }]]
    },
    "Edit Fields": {
      "main": [
        [{ "node": "Switch", "type": "main", "index": 0 }],
        [{ "node": "Create a row", "type": "main", "index": 0 }]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [[{ "node": "AI Agent", "type": "ai_outputParser", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  }
}
