projeto-individual-3/ana-luiza/src/workflow-solution-b.json
[{"updatedAt":"2026-05-06T00:56:19.490Z","createdAt":"2026-05-05T18:57:20.668Z","id":"sO7jxj1ZyAtLndio","name":"My workflow","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"dd22e7da-5414-4d6b-b73e-e13689231ff9","name":"When clicking ‘Execute workflow’"},{"parameters":{"authentication":"serviceAccount","operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1MjTSEswWcU7kYc_GOH8Xalu7Yw-vW_epMVcu-n6aWOQ","mode":"list","cachedResultName":"Projeto TEES","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MjTSEswWcU7kYc_GOH8Xalu7Yw-vW_epMVcu-n6aWOQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MjTSEswWcU7kYc_GOH8Xalu7Yw-vW_epMVcu-n6aWOQ/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[{"id":"titulo","displayName":"titulo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ano","displayName":"ano","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"relevancia","displayName":"relevancia","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"resumo_pt","displayName":"resumo_pt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"decisao","displayName":"decisao","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1360,0],"id":"9668b0c9-5cf2-4625-ae73-580c0a755a2b","name":"Append or update row in sheet","credentials":{"googleApi":{"id":"MJWwKBm3E2aUCyMg","name":"Google Sheets account"}}},{"parameters":{"modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"id"},"messages":{"values":[{"content":"={{ $json.objetivo_pesquisa }}"}]},"builtInTools":{},"options":{"systemMessage":"You are an academic search specialist. Convert the research objective  into a search query for Semantic Scholar paper bulk search endpoint.  Supported syntax: - AND / OR between terms: machine learning OR deep learning - + to require a term: +healthcare - - to exclude a term: -survey - \"quotes\" for exact phrases: \"neural network\" - Combine: (\"machine learning\" OR \"deep learning\") +healthcare  Rules: - English only - 3 to 8 terms maximum - No explanation, no line breaks  Bad output: AI medicine impact Good output: (\"artificial intelligence\" OR \"machine learning\") +medicine +clinical  Return ONLY the query string.","temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1.1,"position":[256,0],"id":"0aa219e8-bc36-494c-af9c-12ed152eb72d","name":"Message a model","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"googlePalmApi":{"id":"BilSdbp6yfcDHomL","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"url":"https://api.semanticscholar.org/graph/v1/paper/search/bulk","sendQuery":true,"queryParameters":{"parameters":[{"name":"query","value":"={{ $json.content.parts[0].text }}"},{"name":"fields","value":"title,abstract,year,citationCount"},{"name":"limit","value":"5"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[608,0],"id":"1eea5b03-3a32-4850-a601-99241d8354ba","name":"HTTP Request"},{"parameters":{"modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"id"},"messages":{"values":[{"content":"=Analise os artigos abaixo com base no objetivo: {{ $('Edit Fields').item.json.objetivo_pesquisa }}\n\nArtigos: {{ $json.data }}\n\nPara cada artigo, gere este formato JSON exato dentro de uma lista:\n{\n  \"titulo\": \"...\",\n  \"ano\": \"...\",\n  \"relevancia\": 0.0,\n  \"resumo_pt\": \"máximo 30 palavras\",\n  \"decisao\": \"arquivar|descartar\"\n}"}]},"builtInTools":{},"options":{"systemMessage":"Você é um curador científico. Analise a lista de artigos fornecida e retorne um JSON formatado como um array de objetos. Não use explicações ou formatação markdown."}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1.1,"position":[816,0],"id":"5f7b8c7c-03f5-403b-acb2-467e211109f1","name":"Message a model1","credentials":{"googlePalmApi":{"id":"icRjWOf1ix49uHK1","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"567557f1-6af8-4f7d-b5d9-92ed31849a1f","name":"objetivo_pesquisa","value":"Como os celulares impactam nas escolas","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[128,0],"id":"0540294f-8c77-4302-97eb-6320c0384531","name":"Edit Fields"},{"parameters":{"jsCode":"// Pega o texto da IA, transforma em dados (JSON) e já separa em linhas\nconst respostaIA = $input.item.json.content.parts[0].text;\nreturn JSON.parse(respostaIA);"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1168,0],"id":"4707b510-1c84-4023-b28c-c2eb2e109cb8","name":"Code in JavaScript"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Append or update row in sheet":{"main":[[]]},"Message a model":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Message a model1","type":"main","index":0}]]},"Message a model1":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8b39c42c-94a5-42af-9370-a65da4c32644","activeVersionId":null,"versionCounter":156,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-05-05T18:57:20.676Z","createdAt":"2026-05-05T18:57:20.676Z","role":"workflow:owner","workflowId":"sO7jxj1ZyAtLndio","projectId":"KDjD2fx9yMwfUyye","project":{"updatedAt":"2026-05-05T14:52:37.336Z","createdAt":"2026-05-05T14:52:01.544Z","id":"KDjD2fx9yMwfUyye","name":"Ana Luiza Soares <ssoares.analuiza@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"89d454d5-d541-4cf7-86c7-6b1cfa3044ee"}}]}]